[2017-12-10 11:32] #28 closed

[2017-12-10 11:36] #169 closed

[2017-12-10 11:37] fritz-c commented on #202
I took uglifyjs out of the build process for the latest version. Can you tell me if this is still an issue?

[2017-12-10 11:38] fritz-c commented on #205
Can you provide a link, and maybe a demo site?

[2017-12-12 13:46] veeramarni opened #211 "loading the child asynchronously from server"
@fritz-c  thanks for the very great component. We want to know how we can load the children's child asynchronously when the `expand` button is clicked.

Initially, we want to send the UI just the first depth and as the user clicks on the expansion button we want to pull more data.
We sending column `hasChildren` boolean for a placeholder for asynchronous data. So when the expansion is clicked it w

[2017-12-12 14:42] rogerjak opened #212 "Context menu?"
Anyone knows a context menu that works with RST?
I've tried both react-contexify and react-contextmenu but none of them works as expected.

Thanks

[2017-12-13 16:37] kbulygin opened #213 "react@16.2.0 "does not recognize the `treeId` prop on a DOM element""
Hi, thanks for the library. I've found a issue which is either a minor bug in the library or a minor incompatibility with React 16.

After upgrading from `react-sortable-tree@1.4.0` and `react@15.6.1` to `react-sortable-tree@1.5.4` and `react@16.2.0`, React starts to issue this warning:

[code]

If I do `sed 's/\<treeId\>/treeid/g' -i node_modules/react-sortable-tree/dist/main.js`, the warning goe

[2017-12-13 20:46] fritz-c commented on #213
Are you using a custom theme or node renderer? Because I used the spread operator in the original one to add miscellaneous props, and I recently started passing the treeId as a prop, it might need to be specifically omitted if you’re doing something custom.

[2017-12-13 23:01] veeramarni commented on #211
@fritz-c is it something you can tell us it would work then we will have our developers work on it and probably we would create an example project to add to your readme.

[2017-12-13 23:48] fritz-c commented on #211
There is an undocumented and untested bit of functionality to load children asynchronously when they are defined as a function instead of an array. Take a look in the react-sortable-tree.js source file to see something about lazy loading to figure out how it works. If it’s buggy, please submit pull requests to fix it if possible. It would be nice to have as an official feature, but it adds in a fe

[2017-12-14 07:32] C3PablO commented on #199
Is there any way to go around this? to have different heights based based on node data?

[2017-12-14 08:07] fritz-c commented on #199
@C3PablO Not right now. Would you be interested in adding the functionality? I believe it's only a matter of plugging in some extra variables into the callback call.

[2017-12-14 09:00] C3PablO commented on #199
yes, I think that would very useful. For what I've seen around the issues, there was a fix for this in 1.3.0 ([a906f21](https://github.com/fritz-c/react-sortable-tree/pull/158)). No sure where that went. Another solution I'm looking at is the possibility of wrapping the cell into a [CellMeasurer](https://github.com/bvaughn/react-virtualized/blob/master/docs/CellMeasurer.md) for rows where the heig

[2017-12-14 09:47] fritz-c commented on #199
That fix you refer to only applied to non-virtualized trees. For whatever reason I didn't notice the virtualized version didn't get any attention.

[2017-12-14 13:51] kbulygin commented on #213
Yes, I didn't notice that the `div` with `treeId` was generated by one of my components since there was no `treeId` in my code. After `treeId` was excluded from `propsRest`, the warning was gone.

I think that the customizing mechanism can be more robust if such cherry-picking is done in the library itself. For example, now my code looks like this:

[code]
A more stable solution would be like this

[2017-12-14 17:24] veeramarni commented on #211
@fritz-c

We have created this PR for lazy loading to work. Please review and let us know.

https://github.com/fritz-c/react-sortable-tree/pull/214

[2017-12-15 05:47] ch1ll0ut1 opened #215 "webpack/babel issue with npm module disposables: Using removed Babel 5 option"
BUG:
I'm using Webpack 3.x and Babel 5 to compile my react project for production. The build process fails as long as I'm using react-sortable-tree because of one of its dependencies called "disposables". That NPM package also has a issue raised: https://github.com/gaearon/disposables/issues/6

I think react-sortable-tree should replace that dependency as it is not even actively maintained.

Throw

[2017-12-15 13:42] borisyordanov commented on #212
@rogerjak What exactly is wrong with the context menu libs you mentioned? Can you show us a demo?

[2017-12-15 13:49] borisyordanov commented on #172
@xgzl87 One way to do it is to clone the clicked node as a sibling to the parent - https://codesandbox.io/s/vywxjmvpqy and then delete the clicked node.

[2017-12-15 13:52] borisyordanov opened #216 "onChange does not trigger if the change is programmatical"
I added a console log, in the onChange prop of the SortableTree component -
 https://codesandbox.io/s/6w1zq7lk1k

It seems onChange does not trigger if you apply changes to the tree by modifying the state - like when clicking the Add and Remove buttons. It is triggered if you, for example, drag one node to a new location.

How can we listen for all change events?

[2017-12-15 15:04] wvanooijen92 opened #217 "Unable to resolve modules css-loader after react update"
I just updated React to 16.2.0 and now my application fails.

`
Unable to resolve some modules:
  "!!../css-loader/index.js??ref--2-1!../postcss-loader/lib/index.js??ref--2-2!./styles.css" in /Users/user/project/adminv2/node_modules/react-sortable-tree/dist/main.js
(web.browser)
  "!!../node_modules/css-loader/index.js??ref--1-1!../node_modules/postcss-loader/lib/index.js??ref--1-2!../node_modules

[2017-12-16 00:29] veeramarni commented on #211
@fritz-c Any comments or suggestions on the PR?

[2017-12-18 08:11] rogerjak commented on #212
I got it working with react-contextmenu, by wrapping the title with ContextMenuTrigger in generateNodeProps. Guess I have to use customNodeRenderer to be able to wrap the whole node?

[2017-12-18 08:26] borisyordanov commented on #212
@rogerjak you probably meant `nodeContentRenderer` not `customNodeRenderer` and yes - it looks like it. Why are you not able to wrap the whole the whole node with the way you are using it now? You can put multiple components in a title (or subtitle or whatever) and therefore the title will be you whole node.

Here's an example:

[code]

[2017-12-18 08:34] rogerjak commented on #212
I was using the provided icon prop, but you're right, I can move the icon into the title and wrap it. Thanks!

[2017-12-18 09:31] steventebrinke commented on #11
Are there any plans to add this feature?

[2017-12-18 14:17] rheinheimer commented on #167
@fritz-c Love the file explorer theme. That's exactly what was thinking. On the other hand, I decided I can make good use of that space with some tweaking of the CSS. Specifically, I now how different color borders for different classes of investment options (see screenshot; still working on styling). This is specified within the node renderer script, where styling is based on node content.
![imag

[2017-12-18 14:45] jzoric commented on #216
Hi,
I have a question: If you already change the tree data by setting the state why do you need `onChange` to be called again?

[2017-12-18 21:36] borisyordanov commented on #216
Various parts of the app change the data. I want to capture all of them to implement a history/undo/redo. Right now I'm doing by using reacts lifecycle events and checking if the treeData has changed on every defender.

Far from the best solution :)

[2017-12-19 10:44] jzoric commented on #216
Understood.
Idea: maybe you can turn off the `onChange` function and control treeData state from other various parts. You could use `onMoveNode` to capture the move event.

[2017-12-19 10:51] jzoric commented on #209
Hi,
it doesn't support direction changing. Maybe you can achieve this by creating a custom theme?

[2017-12-19 11:03] borisyordanov commented on #216
Can you elaborate on that?

[2017-12-19 11:17] jzoric commented on #216
` <SortableTree treeData={treeData}  onChange={() => {}} onMoveNode={this.onMoveNode} ..../>`
* `onChange` does nothing
* Implement `onMoveNode` which will update the state with the changed treeData
* By using button on node (like in your codesandbox example), every click will give you access to node so you can use it and update the state again with the changed treeData

If you have e.g redux in y

[2017-12-19 11:44] borisyordanov commented on #216
Thanks @jzoric i'll give that a try.

[2017-12-19 12:22] MrDockal opened #218 "[QUESTION] Tree to tree dragging - apply different styles"
Hello, I would like apply different styles when tree-to-tree dragging. You can imagine case when first tree consists of screens and second of tags. Tag should be assigned to screen using different animation.

I have experimented with callback `generateNodeProps`, that can render additional node fields. So I tried to pass component SortableTree, however these recursive approach will not render chil

[2017-12-19 15:09] top1st commented on #177
![image](https://user-images.githubusercontent.com/23559697/34163371-7eaa5cc2-e511-11e7-8711-5dec9272776c.png)

import { SortableTreeWithoutDndContext as SortableTree, changeNodeAtPath } from 'react-sortable-tree';

[2017-12-19 17:48] top1st opened #219 "Problem with SortableTreeWithoutDndContext"
# Reporting a Bug?

Troubleshooting have problem

# Requesting a Feature?

import { SortableTreeWithoutDndContext as SortableTree } from 'react-sortable-tree';

![image](https://user-images.githubusercontent.com/23559697/34171002-d37b67c6-e527-11e7-916e-5c6b60240e90.png)

[2017-12-19 19:24] jzoric commented on #219
Hi,
without a code example it is hard to tell what's wrong. For start, can you create a small example on codesandbox and also look at example [here](https://github.com/fritz-c/react-sortable-tree/blob/master/examples/storybooks/external-node.js).

[2017-12-20 08:46] top1st commented on #213
@kbulygin  i have equal error.

[code]

![image](https://user-images.githubusercontent.com/23559697/34198411-4334d868-e5a5-11e7-8251-8e4f0e2f440f.png)

![image](https://user-images.githubusercontent.com/23559697/34198434-591f0f2c-e5a5-11e7-9685-1a0171bda28e.png)

[2017-12-20 08:48] top1st commented on #219
@jzoric  which more example need?
I only imported SortableTreeWithoutDndContext
And i get error

[2017-12-20 08:57] top1st commented on #213
I dropdown react-sortable-tree version to 1.5.0 and removed error
Please check new version problem

[2017-12-20 15:33] jzoric commented on #219
@top1st I asked for code example because I believe you don't have DnD context for the SortableTree.
In [this](https://codesandbox.io/s/4wj6m99yx7?module=%2FApp.js) codesandbox, if I export the App component without DnD context I will get the same error message as you do, but if I export it with the context everything is working fine.

[2017-12-21 02:30] svenkle commented on #215
I had this same issue and found that it was my webpack configuration. I added the following into my webpack configuration file:

`exclude: /(node_modules|bower_components)/,`

[2017-12-21 03:25] ch1ll0ut1 commented on #215
My babel is configured to exclude all node modules except "uid-generator", which is in es6 and need to be transpiled to es5:

      {
        test: [/\.js$/],
        include: paths.appNodeModules,
        exclude: /node_modules\/(?![uid-generator])/,
        loader: 'babel-loader',
        options: {
          presets: ["env"]
        }
      },

[2017-12-25 15:54] jzoric commented on #219
@top1st Hi, what is the status with this?

[2017-12-25 15:56] jzoric commented on #216
@borisyordanov hi, what is the status with this?

[2017-12-26 15:22] borisyordanov commented on #216
@jzoric I looked into what you suggested a bit more and unfortunately it wasn't very helpful. Perhaps i wasn't clear in my previous posts. I'm not interested in capturing node move events. I want to capture ALL events.

My original problem was that if i change the treeData array, by using setState, for example, the onChange event is not triggered, event though react re-renders the page and display

[2017-12-26 15:22] #216 closed

[2017-12-26 23:18] buzztone commented on #209
I'm wondering if this likely to be common requirement for applications supporting RTL langauges.

[2017-12-27 17:35] Vladimirtishenko opened #221 "Remove hard coded label"
Hi, please, make hard coded 'title' and 'subtitle' changeable

For example:
[code]
If this field are not fill used default params  title="title", subtitle: "subtitle".

This will be more customized, since sometimes other fields are used coherently in the whole product and when using your module in the system, changes that are not standardized will be made. For example, we everywhere use a label in

[2017-12-29 01:48] uptonking commented on #219
I just happened to have the same problem because I simply replaced the import line as described in  `README.md`  Troubleshooting part.

the solution is to look at the [example](https://github.com/fritz-c/react-sortable-tree/blob/master/examples/storybooks/external-node.js), and add another line
`export default DragDropContext(HTML5Backend)(YourComponent);`

[2017-12-29 03:30] uptonking commented on #177
find a solution here, just put `DragDropContext` at the top level, like the parent component
see discussion [here](https://github.com/react-dnd/react-dnd/issues/740)

[2017-12-29 08:22] superlbr commented on #8
well, I use it in a stateless function. It came out ...
Warning: Stateless function components cannot be given refs. Attempts to access this ref will fail.

[2018-01-02 19:11] SomoKRoceS commented on #209
jzoric,
Yea.. I guess a custom theme is the only way.

buzztone,
Well.. I suppose it is. Components in applications supporting RTL languages are mostly preferred to be RTL (some might be a "must"), However, there are some application components or requirements that LTR could fit as well.
A vertical tree, for example, with LTR-ordered nodes that holds RTL text, might be a bit non-intuitive for the

[2018-01-03 02:36] orgpark opened #222 "import { SortableTreeWithoutDndContext as SortableTree } from 'react-sortable-tree';"
When I have following line in my meteor app:
[code]

I get this error:
[code]

Is there any work around for this issue?

[2018-01-03 06:18] orgpark commented on #217
i am wondering how this issue gets to be closed? would you please tell me how?

[2018-01-03 06:52] buzztone commented on #217
The issue was closed by wvanooijen92 who originally posted the issue. You can see this clearly in the above info.

[2018-01-03 09:47] SomoKRoceS opened #223 "How to expend focused search result when assigning text in the search textbox using code?"
Hello again :)

I am trying to force-search a term in the tree by code.
In other words, I want some text to be assigned to the search textbox (as a value, not a placeholder) in the moment the tree is loading up for the first time. I also want that the search will work with the focus, highlighting and expending.
The code I am using for the search method is the code presented in Storybook:
[https://

[2018-01-03 16:43] wvanooijen92 commented on #217
It's been a while since this issue so I am not completely sure what the solution was, but I am quite sure this had nothing to do with this package. I am using Meteor, which is using less instead of scss. I think the issue was resolved by adding the `fourseven:scss` meteor package. Sorry for the inconvenience!

[2018-01-04 03:42] orgpark commented on #217
I'm also using Meteor and sadly fourseven:scss did not help. Really want to get rid of this warning. Someone please help

[2018-01-04 03:45] orgpark commented on #222
Tried a few things but nothing really worked so far

[2018-01-04 09:29] borisyordanov commented on #221
I'm not sure i understood what you are trying to do. If you want the title (or subtitle) to be editable you should check out [this example](https://fritz-c.github.io/react-sortable-tree/storybook/?selectedKind=Basics&selectedStory=Modify%20nodes&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Fnotes%2Fpanel).

You should try out the other examples and read up on the `generateNodeProps` prop

[2018-01-04 09:31] borisyordanov commented on #223
Can you provide a sandbox of what you have so far?

[2018-01-04 09:41] borisyordanov opened #224 "map from tree-data-utils.js throws "Cannot read property 'children' of undefined""
This is how i am using `map`
[code]
and this is the treeData that is passed:
[code]
And this is the result of the `console.log` for the root node:
[code]

I believe the error is thrown, due to the `children` key being an array of undefined, however, i have no idea how it ended up with that value. How can i solve this?

[2018-01-04 10:13] borisyordanov opened #225 "onClick prop disables collapse and expand buttons"
Under `generateNodeProps` i have added this event trigger:

[code]

The problem is that if i use the `handleNodeClick` function the collapse/expand toggles are not working. If i comment it out they start working. How can i have the function executing and the toggles working at the same time?

![image](https://user-images.githubusercontent.com/12392666/34558736-8be86a70-f13f-11e7-9ac4-0bd714d5f30a.

[2018-01-04 10:22] borisyordanov commented on #225
I think i solved the problem myself by adding an if statement
[code]
If someone can think of a better solution - please let me know

[2018-01-04 10:26] #225 closed

[2018-01-04 14:43] wvanooijen92 commented on #217
Yes you are right, today I checked out on the specific feature branch and it still gave me the same error. I have forked the package to see what it is. I noticed that styles are imported as an object and that these object are applied to the DOM as classNames. I have not seen this before, it looks similar to how [Aphrodite](https://github.com/Khan/aphrodite) works, but I see no such packages. I am

[2018-01-04 16:18] kaueDM opened #226 "[Request] Better way to change styles"
Hello.

I'm using this lib and loving it, but i had some hard time trying to style it. Can we have some way to write our themes only in SASS or CSS and apply using `theme` prop? I think it will be a amazing feature.

Thanks in advance.

[2018-01-05 14:11] megaboich commented on #211
I have created another PR to include example of lazy-loading nodes and also bug fix.
Actually it was working quite stable, on React 15, but it seems that React 16 is a bit harsh about unhadled exceptions, so it was not stable when you do drag and drop over not yet loaded nodes.

[2018-01-05 14:12] sureshapn opened #228 "getTreeFromFlatData get tree order with previousSibling"
# Reporting a Bug?
cannot able to sort tree data with previous siblingId, i want order data with sibling

[2018-01-05 17:44] Vladimirtishenko commented on #221
No sorry. I want to 'title' and 'subtitle' can be changed. The name itself

For examle:

My state: {label: 'Hello', url: 'https://lol.com'}

<SortableTree
     title="label"
     subtitle="url"
     treeData={this.props.menu}
     onChange={ treeData => this.props.changeTree(treeData) }
/>

[2018-01-05 17:47] Vladimirtishenko commented on #221
I want to use a 'lable' and 'url' and that it is displayed on the tree instead of title and subtitle

[2018-01-06 10:24] borisyordanov commented on #221
I see - you want to rename the props on the component. In that case suggest forking the repo and making your own version, because title and subtitle are more ubiquitous than the ones you suggested. Perhaps the props names can be improved, but i don't think "label" and "url" are the best options. @fritz-c should add his input here.

[2018-01-07 00:58] fritz-c commented on #202
I'm putting UglifyJS back into the build as its absence is causing issues with other users. I think adding `comparisons: false` to your UglifyJS config, as seen here
https://github.com/facebookincubator/create-react-app/pull/2379/files
works as a temporary workaround.

[2018-01-07 00:58] #202 closed

[2018-01-07 01:36] fritz-c commented on #217
I found that part causing the issue was in some dead code inside the bundle. That used to be removed by UglifyJS, but then I had removed UglifyJS for another issue (see https://github.com/fritz-c/react-sortable-tree/issues/202 and https://github.com/fritz-c/react-image-lightbox/issues/88).
I've decided that the issue here takes priority over those, because at least the UglifyJS issue has a well-kn

[2018-01-07 01:44] fritz-c commented on #221
Yeah, I think the current approach provides enough ways for the user to set their title/subtitle parts. If you want to avoid adding an extra property to your nodes just to remove it on export, I would recommend setting the title and subtitle via `generateNodeProps`, as @borisyordanov suggested.

[2018-01-07 01:49] fritz-c commented on #219
@jzoric Thanks for the helpful followup. I think we can consider this resolved.

[2018-01-07 01:49] #219 closed

[2018-01-07 01:56] fritz-c commented on #224
You need to return the node in your callback.

By the way, thanks for your help on the other issues 👍

[2018-01-07 01:58] fritz-c commented on #222
duplicate of #217
See my comments there.

[2018-01-07 01:58] #222 closed

[2018-01-07 09:07] Vladimirtishenko commented on #221
I propose that 'title' and 'subtitle' were not mandatory and they could be changed. If they are specified as parameters ' title="label" ' then you need to use for the tree just 'label'' as the title text description,  and if not, use names appropriately 'title'. This will be a more custom solution. If you already have the opportunity to change them, can you give an example?

[2018-01-07 12:17] gaearon commented on #215
I published a "fix" in `disposables@1.0.2` but the real problem is the build setups you have. It's not safe to just assume that every package in `node_modules` can be compiled by Babel, or that its configuration format matches the Babel version you're using.

So you shouldn't have this problem anymore, but if you had it in the first place it means your Babel setup is probably both pretty slow and

[2018-01-07 12:26] wvanooijen92 commented on #217
@fritz-c You are awesome, 1.5.4 is working fine. Thanks for the support!

[2018-01-07 12:26] #217 closed

[2018-01-08 15:11] JWaldenback commented on #205
@lifejuggler How do I find your solution? I'm interested in seeing what you've accomplished.

[2018-01-10 00:07] jaabiri opened #229 "When users hover a dragged node over a closed parent node(lazy children)"
Hello @fritz-c
i have implemented the lasy loading on a parent node to request their children data and then get expanded on clicking on it,
what i really want to do is to make a node requesting it's children and expand them once they become ready while i'm dragging one other node and hovering with it over the first one, so i could drop it in the depth level i would, and this is an explanation that

[2018-01-11 19:27] kbulygin commented on #150
There's a similar issue with dragging: when `<body>` has `style="zoom: 150%;"`, the node being dragged is rendered as if the zoom is 100%. For example, when a node is at about 150 screen pixels below the top border of the window, dragging "moves" it at about 100 screen pixels below the top border. The lower the node is on the page, the larger the gap between where it should be and where it is whil

[2018-01-13 00:19] wuweiweiwu commented on #199
@fritz-c if its not done already i can do it :)

[2018-01-13 00:27] wuweiweiwu commented on #207
@fritz-c I can look into this as well

[2018-01-13 03:44] fritz-c commented on #199
@wuweiweiwu yes please!

[2018-01-13 11:59] panzupa opened #230 "Animation error"
# Reporting a Bug

After adding search functionality (copied from the example) when I search for an item I get following error.

    at Object.requestAnimationTimeout (requestAnimationTimeout.js?ab56:34)
    at Grid._debounceScrollEnded (Grid.js?0f6f:884)
    at Grid.handleScrollEvent (Grid.js?0f6f:212)
    at Grid._this._onScroll (Grid.js?0f6f:133)
    at Object.ReactErrorUtils.invokeGuardedCallb

[2018-01-13 13:07] #223 closed

[2018-01-13 13:11] fritz-c commented on #230
Can you reproduce this by forking the sandbox example?
https://codesandbox.io/s/wkxvy3z15w

[2018-01-13 13:12] fritz-c commented on #223
This is now fixed in v1.5.5

[2018-01-14 20:02] wuweiweiwu commented on #199
#231 pull request submitted!

[2018-01-14 21:47] #199 closed

[2018-01-14 22:12] fritz-c commented on #199
Available now in `v1.6.0`. Thanks for the help!

[2018-01-16 07:02] Aman-Nisha opened #233 "Accessability in react-sortable-tree"
Are there any options to invoke accessibility in react-sortable-tree?
drag and drop also with the keyboard.

[2018-01-16 09:46] fritz-c commented on #233
Not currently, but it is a feature I’m really interested in implementing.

[2018-01-16 11:07] Darex1991 commented on #28
Here is my example. Similar and great tnx @evilangelist :)
![screen shot 2018-01-16 at 12 05 32](https://user-images.githubusercontent.com/5881611/34985803-9f63cf98-fab5-11e7-9ccf-d6c712c07258.png)

.scss:
[code]

[2018-01-16 13:53] fritz-c commented on #207
Available now in v1.7.0

[2018-01-16 13:53] #207 closed

[2018-01-16 14:01] fritz-c commented on #167
@destruc7i0n
@wuweiweiwu Pitched in and helped implement an `onDragStateChanged` callback (available in `v1.7.0`)! Check out the API in the README.

[2018-01-16 19:16] panzupa commented on #230
Hi @fritz-c

Thanks for the answer.

I will try to reproduce that error.However, right now, I'm not able to reproduce the error.

As I don't want to copy over a lot of my code into sandbox I will need some more time.

[2018-01-16 20:39] destruc7i0n commented on #167
Awesome! Thanks @wuweiweiwu for getting that in 👍

[2018-01-18 02:32] wuweiweiwu commented on #153
@fritz-c I can take this!

[2018-01-18 02:34] wuweiweiwu commented on #233
@fritz-c I'm interested in implementing this.

But a little confused. Like vim shortcuts to move things around?

[2018-01-18 06:29] fritz-c commented on #233
@wuweiweiwu Therein lies the challenge, and the fun. Making an interface that makes sense to use for even a non-technical user. We should talk it out here before you get into implementing it, though.

Hit tab once on the github top page, and you might get an idea of how the mode would be triggered, after which I'm imagining you would navigate a highlighted node about the tree using arrow keys / wa

[2018-01-18 06:39] wuweiweiwu commented on #233
@fritz-c Oh I didn't even know that feature existed on github.com.

It seemed like the a11y accordion could be used to expand nodes
https://codepen.io/svinkle/pen/mKfru

Seems tricky to navigate when you have modifiable nodes ...

[2018-01-18 09:14] wuweiweiwu commented on #145
@fritz-c going to try this out tomorrow :)

[2018-01-18 14:01] fritz-c commented on #153
@wuweiweiwu Yeah, let's start with just providing the parent node.

[2018-01-19 13:13] #200 closed

[2018-01-19 22:47] onyx1337 opened #236 "Moving nodes through data helper function"
Hi ,
Is there any way to change node path through data helper function ( without using dnd ) ?

[2018-01-20 01:26] fritz-c commented on #236
Use removeNode to first get the target node and the treeData with your target node removed, and then call addNodeUnderParent to get the treeData with your node inserted back into the tree at the place you desire.

[2018-01-20 01:40] cmmartin commented on #221
Use `generateNodeProps`. For example, to use `label` as the title and `url` as the subtitle

[code]

[2018-01-20 06:28] s-dezign commented on #229
Agreed. Need to implement the same thing. If anyone can share the solution — it will be awesome! Thanks.

[2018-01-20 08:41] onyx1337 commented on #236
oh, that simple, thank you a lot @fritz-c

[2018-01-20 08:41] #236 closed

[2018-01-20 09:00] abhinavzspace commented on #8
Does this mean, it will work on react native also? (React/react native beginner here.)

[2018-01-21 00:02] fritz-c commented on #8
@abhinavzspace it will not work on react native. React native uses different primitive elements, like View instead of div, etc.

[2018-01-21 01:14] fritz-c commented on #153
@NishantDesai1306 the `nextParentNode` (which contains all the siblings of the node as well as the moved node in its children) is now included in the `onMoveNode` callback in `v1.8.1`, thanks to @wuweiweiwu!

[2018-01-21 01:14] #153 closed

[2018-01-21 10:55] Vladimirtishenko commented on #221
Thank you/

[2018-01-22 22:25] fritz-c commented on #233
Just read an article that talked about react-beautiful-dnd having keyboard accessibility. I might check that out as an example implementation.

[2018-01-23 20:34] edargham opened #238 "Rendering a form with generateNodeProps and addNodeUnderParent"
Just need a brief clarification, in order to add node under a parent, and have it bring up a form to prompt the user for input I must:

1.   `generateNodeProps` prop with a button that adds a child just like in `addNodeUnderParent`.
2.    To render the form, I must invoke the render function of the form inside the button.
3.    Data submitted to the form will be fed to the next lines (similar to t

[2018-01-24 03:00] rhazegh commented on #21
I am trying to do the same thing. Setting the `className` in the `onClick` function does not seem to add `selected-node` class to the DOM.

Am I doing it wrong?

[code]

[2018-01-24 05:02] wuweiweiwu commented on #233
@fritz-c Can you share the article? I would love to read it as well :)

[2018-01-24 06:33] fritz-c commented on #233
@wuweiweiwu https://medium.com/@alexandereardon/rethinking-drag-and-drop-d9f5770b4e6b

[2018-01-24 13:11] ajeffrey commented on #226
ideally it would be good if we could pass in a prop which is the component that can render a node. It receives all the tree data and renders itself - that would solve the styling issue and make the UI much more customisable.

[2018-01-24 20:09] arminmaurice1990 commented on #230
Having the exact same issue right now, wit the exact same results as above

"Uncaught TypeError: Illegal invocation"

`export var requestAnimationTimeout = function requestAnimationTimeout(callback, delay) {
  var start = Date.now();

  var timeout = function timeout() {
    if (Date.now() - start >= delay) {
      callback.call();
    } else {
      frame.id = raf(timeout);
    }
  };

  var fram

[2018-01-24 22:25] wuweiweiwu commented on #233
Thanks!

[2018-01-25 09:53] Scredi commented on #99
Hello there,

having same issue on next.js. Trying to create a tree with removenode, addnode and other features.
I can see the tree but the features are not defined. I would like to know if you have an example of how import some specific method from SortableTree with next.js or SRR.

i import the tree like this

`componentWillMount() {
    _SortableTree = require('react-sortable-tree').default
  }

[2018-01-25 10:25] Scredi commented on #55
Hello there,

having same issue on next.js. Trying to create a tree with removenode, addnode and other features.
I can see the tree but the features are not defined. I would like to know if you have an example of how import some specific method from SortableTree with next.js or SRR.

i import the tree like this

`componentWillMount() { _SortableTree = require('react-sortable-tree').default }`

wou

[2018-01-25 10:31] Scredi commented on #55
Nevermind, i find a solution by copying the whole tree-data-utils.js and importing it at the top of my component sheet :)

`import { addNodeUnderParent, removeNodeAtPath } from './utils/tree-data-utils'`

[2018-01-25 19:50] 8-bitTom commented on #229
👍  We also need this featur

[2018-01-26 22:43] CASandmann opened #240 "Using SortableTreeWithoutDndContext, cannot read property 'getMonitor' of undefined"
I encountered an issue where I'm using React-DnD in another component in my codebase and never had to use both this and React-Sortable-Tree at the same time.  Now we have an instance where we want to, but when I switch `import SortableTree` to `import { SortableTreeWithoutDndContext as SortableTree }`, I get the error

    Cannot read property 'getMonitor' of undefined

It looks like it's trying t

[2018-01-27 00:14] fritz-c commented on #240
Could it be that the SortableTree isn't a descendant of a component that had `DragDropContext` called on it? See this example for a working example:

https://fritz-c.github.io/react-sortable-tree/storybook/?selectedKind=Advanced&selectedStory=Drag%20from%20external%20source&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fnotes%2Fpanel

Source: https://github.com/fritz-c/react-sortabl

[2018-01-27 00:19] fritz-c commented on #238
Are you talking about a form inside a modal that pops up? If it's something like that, the button would only enable a state on your parent component, like `{ showForm: true, formTarget: "<parent node key>"}` and upon submission of the form it would add the node via `addNodeUnderParent`.

[2018-01-27 05:22] fritz-c commented on #21
@rhazegh I would recommend you use a more unique identifier than the `treeIndex` in `getNodeKey`. Something like `getNodeKey: ({ node }) => node.id` (be sure to assign it to the tree's `getNodeKey` prop). With a unique ID, you could store the selected id in your component's state, and when calling `generateNodeProps` you check if the last part of `path` matches the selected id, and return the `sty

[2018-01-29 08:29] andershansander opened #242 "react-sortable-tree not working with react-froala-wysiwyg"
Hi!

When using react-sortable-tree with another drag-n-drop component like react-froala-wysiwyg the tree work as expected but the drag-n-drop in react-froala-wysiwyg is blocked.

Here are the steps to create a project with the issue:

Replace the index.js content with this:

[code]

Now if you run "npm start" and insert an image in the Froala editor it cannot be dragged and dropped to another loc

[2018-01-29 10:04] fritz-c commented on #242
https://github.com/fritz-c/react-sortable-tree#if-it-doesnt-work-with-other-components-that-use-react-dnd
Try the method explained there. react-dnd only allows for one dnd context at a time, so you'll also need to see if the froala editor allows you to get their component without the dnd context wrapping it.

[2018-01-29 11:15] andershansander commented on #242
Thank you for the quick response. I tried the method mentioned but the problem remains. I believe that Froala is using the jQuery draggable plugin for drag and drop. Do you know if there is any compatibility issues with that library?

[2018-01-30 00:49] lifejuggler commented on #205
@JWaldenback , @fritz-c sorry for getting this so late... I had heck of a time at work... https://minimal-sortabletree-theme.herokuapp.com/

[2018-01-30 12:50] edargham commented on #238
I was thinking of rendering the form directly as a child, it don't think it is very feasible, I'll do it as you suggest.

[2018-01-30 19:03] CASandmann commented on #240
Yes!  That was the problem.  This should probably be detailed in the [If it doesn't work with other components that use react-dnd](https://github.com/fritz-c/react-sortable-tree#if-it-doesnt-work-with-other-components-that-use-react-dnd) section of the Readme because as written, it implies that you don't need to wrap it since you didn't before.

[2018-01-30 19:03] #240 closed

[2018-01-31 09:00] owcc opened #243 "package error in v1.8.1"
I just use RST v1.8.1, got this error
[code]
**update!**
it looks like `react-virtualized`v9.18.1 failed, [9.18.1 Kills build!](https://github.com/bvaughn/react-virtualized/issues/989)
how can I use `react-virtualized` module in my project other than module in `react-sortable-tree` itself?

[2018-01-31 09:18] TrySound commented on #243
Fixed in react-virtualized 9.18.2

[2018-01-31 19:20] mhiggs opened #244 "Variable Height Nodes"
First off, this is an awesome project, thanks for sharing it!

We have been using your tree to implement a feature that, at times, will have a lot of text in some nodes and very little text in others.  The hope was to allow word-wrap in each node and everything would be well and good. However after digging around I realized that rowHeight is global for all nodes, and seems to be used to position t

[2018-02-01 10:04] szilderus opened #245 "SEARCH - display only nodes matching the search query (hide others)"
I'm using SEARCH -> nodes are highlighted - Is there a possibility to hide all other leaves?
When I have very large tree and I'm searching if particular node - all others that do not match the search query are obscuring the view. (imagine that I have tens or hundreds nodes that do not fit into one screen - it is not easy to identify parents)

Thank you

[2018-02-01 17:54] rhazegh commented on #21
@fritz-c Thank you. It works now 😃

BTW, great component! Really like it 👍

[2018-02-01 21:45] fritz-c commented on #242
Ah, I wouldn’t know, in that case.

[2018-02-01 23:55] dangsd opened #246 "style rstcustom_node"
Hi,
Is there a way to overwrite style for rstcustom_node. i would like to overwrite node's position on top. thanks!

[2018-02-02 00:44] fritz-c commented on #246
You could fork your own version of the theme that you’re using and release it on npm with your own scope, like @dangsd/react-sortable-tree-theme-something-something.

[2018-02-02 13:53] brendanmoore opened #247 "[Discussion] Future of Styling/CSS and Theming"
Firstly I would like to say I love this library my use case(s) have been really good. While using it I personally have come across issues with how to style and add some subtle changes to behaviour (such as variable height nodes). From looking through the issues [I am not the only one](https://github.com/fritz-c/react-sortable-tree/issues?utf8=%E2%9C%93&q=is%3Aissue+style).

Currently the core CSS

[2018-02-02 15:11] mbrowne opened #248 "Broken link in readme"
FYI, the link to react-sortable-tree-theme-full-node-drag in the readme is broken. It is currently pointing to:
https://www.npmjs.com/package/react-sortable-tree-full-node-drag

It should instead point to:
https://www.npmjs.com/package/react-sortable-tree-theme-full-node-drag

Cheers,
Matt

[2018-02-02 17:43] mhiggs commented on #244
For future people who need something similar we were able to achieve this through unsetting styling in custom node css to allow for relative positioning, which solved for our use case.

[code]

[2018-02-02 17:44] #244 closed

[2018-02-02 23:53] #248 closed

[2018-02-02 23:54] fritz-c commented on #248
Thanks!

[2018-02-03 00:14] fritz-c commented on #247
Moving the css handling away from style-loader and into a css file you would import is an issue I’ve been mulling over for a long time now.

On the one hand, server side rendering becomes a lot more easy to handle, and overriding the styles also becomes easier, as you have demonstrated.
On the other hand, the one drawback that I’ve been lingering on is the fact that importing a css file yourself c

[2018-02-05 07:25] wuweiweiwu commented on #229
I can look at it! On closed branches. set a hover time that will expand the branch or something similar

[2018-02-05 08:42] superpam33 commented on #163
Hi, there's lots of good discussion here and sounds like some folks have successfully got it working! Yay! Can @shalinigr or someone please share the love and share some of your lovely code with me on how you guys got the nodeContentRenderer prop working properly? Really appreciate it.

[2018-02-05 09:34] brendanmoore commented on #247
@fritz-c You are right this would be a breaking change. Provided the user hasn't done to many of there own styling hacks it shouldn't be to ground shaking.

I remember when I started using webpack style-loader was a "magical mystery helper" - it was great - very useful, now that I think a lot of people just starting out with React are using CRA importing the css into your app is the new normal, an

[2018-02-05 10:31] fritz-c commented on #247
Yeah, that code is what I was talking about.

[2018-02-05 11:05] edargham commented on #238
Alright, I built my modal via `react-bootstrap`, I linked it to the tree through a button. The modal would appear in the DOM, and the page will behave as if the modal is rendered however, the modal does not appear.

Here is the code to both the modal and the tree:

Modal:
<img width="706" alt="screen shot 2018-02-05 at 12 59 44 pm" src="https://user-images.githubusercontent.com/29617612/35801336-a

[2018-02-05 12:10] fritz-c commented on #238
Seems like a styling issue. The only other thing I might guess is that the way you get the ref to the modal is outdated.

[2018-02-05 13:14] edargham commented on #238
It is a styling issue, I removed the bootstrap.css file from the HTML page and the modal div appeared. I'll see how I can resolve it, Thanks for the help!

[2018-02-05 13:33] #238 closed

[2018-02-06 07:32] xgzl87 opened #250 "can add one rowHeight?"
# Reporting a Bug?

I want to judge according to the entire line color node

# Requesting a Feature?
I want to judge according to the entire line color node

[2018-02-08 19:09] lifejuggler commented on #245
@szilderus  you can kind of get around this issue by utilizing `searchFinishCallback` and storing the filtered values in a separate state from the treeData and replace treeData with the filteredDate if there is filtered values

[2018-02-10 08:14] #195 closed

[2018-02-10 10:08] #243 closed

[2018-02-10 10:10] fritz-c commented on #99
The library has been updated in v2.0.0 to not use style-loader any more, instead requiring you to import the styles yourself. This should make using react-sortable-tree in server-side-rendered apps easier.

[2018-02-10 10:12] fritz-c commented on #69
The library has been updated in v2.0.0 to not use style-loader any more, instead requiring you to import the styles yourself. This should allow you to override the styles easily yourself, by creating a modified version of the style.css file. Check it out!

[2018-02-10 10:13] fritz-c commented on #55
The library has been updated in v2.0.0 to not use style-loader any more, instead requiring you to import the styles yourself. This should make using react-sortable-tree in server-side-rendered apps easier.

[2018-02-10 10:14] #247 closed

[2018-02-10 10:14] #221 closed

[2018-02-12 13:38] brendanshean opened #251 "[Question] Tree-to-tree dragging identify which tree"
Before asking my question, I just wanted to let you know that this library is amazing and I can only imagine all the work that went into building it.

When dragging from one tree to the another, I'm able extract information about the node and it's treeIndex, however, I'm wondering if there's identifying information about the tree from which a node is dragged.
For example, when I drag node1 from tr

[2018-02-15 12:05] brendanmoore commented on #226
Since `v2.0.0` it is easier to override styles with your own CSS see #247

[2018-02-16 11:35] edargham opened #252 "CSS - styling the nodes so that they are justified."
It is as the title implies, I need to justify the layout of my nodes so that they all the nodes at a certain position inside the tree end at a specific position on a page, is the feature already found in the Component, or do I have to implement it my self. If the second is true, do I need to do it in React or add my CSS rules?

[2018-02-18 00:11] Mulli opened #253 "RTL support?"
I would like to use RST for a Right to Left language.

Quick view into CSS shows that it will not be an easy task.

Any idea how to proceed?
Am I missing something?

[2018-02-18 00:43] wuweiweiwu commented on #245
@szilderus @fritz-c Ill work on this over the weekend :)

[2018-02-18 02:55] fritz-c commented on #253
I'm afraid I don't have any experience with RTL support, so I wouldn't know how to proceed.

[2018-02-18 04:23] arvinxx commented on #246
@fritz-c Hi, I just want to know whetherthe custom theme still works or not after change all css technique?
Thanks

[2018-02-18 04:48] arvinxx commented on #247
So what should I do if I want to wirtte overwirtte Less/SCSS when I use Webpack to compiler? I try it but find it doesn't work.

(I use less)

[code]

[code]

Also I think about the hash name in webpack css-loader, and and more config to deal it.

[code]
But actually it doesn't work at all.

[2018-02-18 06:40] arvinxx commented on #247
resovle it by using
[code]

[2018-02-18 07:12] arvinxx opened #254 "[Discussion] Switch Back to CSS Modules"
At first thank you very much for this awsome library! And I just try v2.0.1 and use the newest feature - overwitte css. And after my experiment of it, I ask to switch back to CSS Modules.
let me explain why.
my propose is to customize the style,so I need to recongize the structure of the component.Because of I can't dive into source code to change style, what I did is to use the hardcode css backg

[2018-02-18 11:25] Mulli commented on #253
The whole idea is kind of a mirror-view which often end up in replacing right & left.
I did try, but gave up when the indentation is computed within the scripts.
Unfortunately I had to give up.

[2018-02-18 14:38] brendanmoore commented on #254
Hi @arvinxx sorry you are having trouble. At this moment some dimensions such as the heights and the widths you are trying to override should be defined through the `theme` prop such as `this.props.theme.scaffoldBlockPxWidth` [see this code](https://github.com/fritz-c/react-sortable-tree/blob/master/src/react-sortable-tree.js#L52). @fritz-c has done some great work on themes (https://github.com/fr

[2018-02-18 19:58] ryanmeisters opened #255 "Incorrect paths when moving nodes"
Perhaps I am misunderstanding the path parameters of `onMoveNode` (`path`, `prevPath`, `nextPath`), but they seem to behave oddly. I would expect each array of children to be 0-indexed, but this doesn't seem to be the case.

For example, I modified [this sandbox](https://codesandbox.io/s/7kxvk8nk3j) to console.log the paths when a node is moved.

Moving N2 to first child of N1:
expected `prevPath`

[2018-02-18 21:54] fritz-c commented on #255
When you don’t set your own “node key” with `getNodeKey`, the path elements point to the index of the node within the visible part of the tree.

[2018-02-19 02:40] wuweiweiwu opened #257 "Migrate props validation to flow from prop-types?"
Pros:

* annotate function types -> easier development and using
* easier to find bugs I guess

[2018-02-19 03:22] fritz-c commented on #257
I think we would be best off with both PropTypes and flow, as library users would not necessarily be using flow, but the PropTypes errors would catch any invalid props they use.

[2018-02-19 03:28] wuweiweiwu commented on #257
Cool! Ill find a day next week to add some flow annotations

[2018-02-19 05:03] ryanmeisters commented on #255
ah I see, I thought Was implementing getNodeKey, but wasn't. Thanks for the quick response and thanks for a great lib!

[2018-02-19 05:03] #255 closed

[2018-02-19 06:47] fritz-c commented on #257
Someone added typescript types a long time back, if that helps at all:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-sortable-tree/utils/tree-data-utils.d.ts

[2018-02-20 11:36] Amitdevelopment commented on #212
I have used this context menu and it is working fine.
https://github.com/vkbansal/react-contextmenu

[2018-02-20 12:44] amttmr opened #258 "onDragStateChanged is not working ."
# Reporting a Bug?

I am not sure what i am doing wrong. But onDragStateChanged() function is not being called when a node drag is initiated.

### here is my function :
[code]

### here is my component:
[code]

[2018-02-20 15:46] rrhvella opened #259 "Error: "No suitable position found to insert" with getNodeKey specified and canDrop returning false"
I am receiving the error "No suitable position found to insert" when performing a very specific drag under a very specific conditions.

As far as I can tell, the key conditions are as follows:

* getNodeKey must be specified.
* There must be 3 top level nodes.
 * The second node must have three levels of children, all of which must be expanded.
 * The third node must have at least one child, and m

[2018-02-20 17:35] rrhvella commented on #259
I stepped through the code and realized that the only reason the error is not thrown when the third node is expanded is that the [addedResult](https://github.com/fritz-c/react-sortable-tree/blob/master/src/utils/dnd-manager.js#L137) incorrectly states that I am trying to drop the subtree into the third node, when in fact I am dropping it in the first.

[2018-02-22 10:53] brendanmoore opened #260 "[Discussion] Reducing Bundle Size"
Currently the target package is `umd` when built with webpack this means that when we subsequently use this library it is non-trivial for our bundlers to optimise or tree-shake away any unused parts of the library. There are some quick wins such as making third-party imports more specific. e.g.

[code]
In this example this would help bundlers (like webpack) tree-shake the `react-virtualized` libra

[2018-02-22 12:00] fritz-c commented on #260
I’m interested, but have no experience with such refinements. Is this something that you could implement for me, and I check off on?

FYI: The logic around generating `treeId`s and the drag and drop manager instance are probably obstacles to setting side effects to false.

[2018-02-22 12:06] fritz-c commented on #259
Thank you for bringing this to my attention and creating an example to reproduce it. This will take high priority when I can secure some time to work on open source again.

[2018-02-22 12:08] fritz-c commented on #258
Can you fork the codesandbox example linked in the readme and create a minimal reproduction of this bug?

[2018-02-22 14:23] amttmr commented on #258
Thanks! But i found a workaround to achieve the desired output. No longer using this  onDragStateChanged function.

[2018-02-23 10:07] #258 closed

[2018-02-26 01:24] charue808 commented on #258
Hi, I am also getting this issue. I implemented it as done in the storybook example onVisibilityToggle and onMovdeNode work but noDragStateChanged doesn't. I'm not sure if onDragStateChanged is needed for my project, or how it could improve it,  but i haven't gotten it to work. Thanks for this project though it's really awesome.

[2018-02-26 01:50] charue808 commented on #258
Nevermind, i needed to update the version that I was using. still not quite sure how to use it but it works now.

[2018-02-26 08:53] charue808 commented on #21
@rhazegh could you explain your code? I've been trying to get this to work as well and tried to follow along but ran into errors. Thank you!

[2018-02-26 15:17] rhazegh commented on #21
@charue808 friz-c has provided excellent explanations and my code is based on his suggestions. Which part of it do you need help with?

[2018-02-26 16:22] erika4 opened #261 "Confirmation before drop the node"
Hello,

I'm trying to make a modal to confirm the period of when the node is moved to another node but it does seems to work.  Is any way that I could do a preventDefault onMoveNode and if is confirmed then move the node?.

Thanks a lot.

[2018-02-26 21:46] fritz-c commented on #261
I’ve not tried anything like that before, and if would probably be ideal if I provided info about the node in the onChange callback, but here’s something to try:

onChange is called before onMoveNode, so you’ll want to store the changes made in a variable or state instead of directly committing them to the state (e.g. have both treeData and “uncommittedTreeData” in your state). When you detect som

[2018-02-27 01:01] charue808 commented on #21
@rhazegh Yeah, actually his explanation made some sense. I guess I don't understand how your code snippet works..since I got fatal errors with using "let" the way you did... but it makes sense since i think it is a callback.

[2018-02-27 18:11] rhazegh commented on #21
@charue808 `let` and `const` are used in ES6. You need to use babel to transpile to ES5. https://babeljs.io

[2018-02-28 01:07] charue808 commented on #21
Correct, that's not the issue. So before your reply i got it to work, with lint errors but it worked.

However the issue is when I follow your example I can't render buttons. So i'm not sure if I need to include rendering buttons into the return of nodeProps...or something else.

[2018-02-28 01:25] charue808 opened #262 "How to use generate node props"
Hi @fritz-c I'm really liking your project but I keep running into questions with generateNodeProps. I was trying to highlight node onClick event to work. and with the help of the issues I was able to but now I can't add in buttons so I'm not sure how these things work together is there something Im missing? here is the component below with highlight node working based on examples in the issues.
[

[2018-02-28 16:41] rhazegh commented on #21
@charue808 I am afraid I don’t understand your problem.

I suggest you open a new issue and put your code with extra details in there. Someone might be able to help you.

[2018-03-01 11:14] vxsx opened #263 "[Question] How to change drag'n'drop handle behaviour"
Hi, first of all thanks a lot for the awesome component and sorry if this is a wrong place to ask a question. Currently when you drag the node around it is being removed from the tree and used as a drag handle - what i'm trying to do is to keep the node in the tree and use a "clone" handle, more or less like this (not exactly like this, but found the image in one of the issues):
![34749601-a1a6503

[2018-03-01 11:34] arnsa commented on #165
@fritz-c the code works brilliantly, but there's one problem - for some reason autoFocus isn't working. The newly added input field isn't being focused for some reason on Chrome (neither it's focused on Safari). I am not sure what's the problem, but it would be really good if there was a simple solution.

One way to do this is to add refs, but I think it'll complicate things way too much. Any othe

[2018-03-02 16:46] svenadlung opened #264 "rowHeight not refreshing while dragging"
We are working with a `rowHeight`-function to give the nodes different heights depending on the nested level of each node. This is working well so far.

But we ran into problems while dragging a nodes. The calculated heights need to be recalculated while dragging, but they don't. We noticed this is working well with `isVirtualized` is false, but not if it's set to true.

Anyone got an idea?

[2018-03-02 18:18] rayray opened #265 "How to disable tree shifting/animating when `canDrop` is false?"
I have two trees, only one of which will accept drops from the other.

I've disabled dropping nodes on the source tree, but the nodes still shift around/highlight if you hold a node somewhere in the source tree.

Is there a prop I can change to disable this animation?

[2018-03-03 19:01] svenadlung commented on #264
To be more precise I think height is not re-set at all until toggling visibilities or removing and adding nodes. Even updating the state (changing sorting) is causing the issue.

Can anybody provide help please?

[2018-03-04 11:07] tx4x commented on #233
bump, need also keyboard support for selection (multiple, focus,...), and other actions like enter to edit a node, etc... Is this something I can add my self via API or do i have to fork this here ? thanks

[2018-03-04 11:43] wuweiweiwu commented on #245
@szilderus @lifejuggler added in #256!

[2018-03-04 12:02] wuweiweiwu commented on #233
@tx4x If you would like to submit a pull request for that that'll be awesome! :)

[2018-03-04 12:13] wuweiweiwu commented on #262
Hi @charue808 I think the issue that you have is that you are editing `nodeProps` in your `onClick` event but the `<SortableTree/>` component doesnt' rerender because its `state` or `props` have not changed. The `nodeProps` are calculated on each rerender. Thus by calling setState you can trigger a rerender

Hope that helps :)

[2018-03-04 18:56] lifejuggler commented on #205
Any thoughts about my new basic theme proposal and the example that I provided? @JWaldenback, @fritz-c?

[2018-03-04 20:17] tx4x commented on #233
@wuweiweiwu : you have an idea about the efforts to do? hard to tell when looking at the code base...

[2018-03-05 21:13] JWaldenback commented on #205
@lifejuggler I like it. But I would it to be more compact. Is that easily changed?

Have you seen this full node drag theme that fritz-c has made btw? I like it a lot, though it also needs to be more compact imo. Or at least easily customizable to change the height and size of the nodes.
https://github.com/fritz-c/react-sortable-tree-theme-full-node-drag

[2018-03-05 21:48] jcalebj commented on #264
I came across the same problem as @svenadlung
Any ideas?

[2018-03-05 23:31] asynchub commented on #264
Nice component:) and here is the same thing about rowHeight being invoked only at onVisibilityToggle, if isVirtualized={true}. @checklist was going to resolve this via custom NodeRendererDefault in issue #192  Does not seem to be shortcut solution. Would be cool to invoke rowHeight programmatically.

[2018-03-06 01:58] charue808 commented on #262
@wuweiweiwu Thanks, so I do setState happening in the nodeClick function. A conditional is then run that looks to see if the selectedNodeId is equal to the rowInfo.node._id  and if true then className is added to the nodeProps.

Where I'm stuck is I seem to either return nodeProps or some jsx, ie Buttons on all the nodes, but not both.

I think i read that the nodeProps is part of a callback funct

[2018-03-06 16:03] zourbuth opened #267 "You may not call monitor.canDrop() inside your canDrop() implementation"
In `canDrop`, before returning `false`, we want to update state to display notification about why it can't be dropped, but got this error:

`Uncaught Error: You may not call monitor.canDrop() inside your canDrop() implementation. Read more: http://react-dnd.github.io/react-dnd/docs-drop-target-monitor.html`

Is there a way to deal with it or may be a callback function?

[2018-03-06 16:48] jcalebj commented on #264
So what if at this [line](https://github.com/fritz-c/react-sortable-tree/blob/master/src/react-sortable-tree.js#L666) there was:
[code]

[2018-03-06 18:08] asynchub commented on #264
nice hack @jcalebj 👍
instead of row.node and row.path apply rows[index].node and rows[index].path there.
rowHeight invoked now, node height is changed, but next nodes are "not moved down" when node height button is toggled. setState does not affect other rows movement either before or after.
experimented with transpiled code:
style: Object.assign({}, rowStyle, {

[2018-03-06 20:19] jithureddy opened #268 "Is this supports in touch devices"
Hey,
I have verified in chrome debugger tools by selecting iPad option for reordering nodes.
https://wkxvy3z15w.codesandbox.io/

Is this module supported for touch devices.

Thanks in advannce

[2018-03-06 20:36] #268 closed

[2018-03-06 20:37] jithureddy commented on #268
I have closed it because there is touch support but I cannot get it worked in Chrome emulator. Later realized I forgot to enable touch events.

[2018-03-07 09:30] asynchub commented on #264
to [ScrollZoneVirtualList](https://github.com/fritz-c/react-sortable-tree/blob/7c842aaf1afa0ab106164f5000c3cea0865cea82/src/react-sortable-tree.js#L635), which is actually `withScrolling from 'react-dnd-scrollzone'` there lines like theese are passed:
[              height={height}](https://github.com/fritz-c/react-sortable-tree/blob/7c842aaf1afa0ab106164f5000c3cea0865cea82/src/react-sortable-tree

[2018-03-07 15:40] jcalebj commented on #264
@asynchub I spent the majority of the day yesterday trying to track down the reason for this behavior 😒
I traced it down through `ScrollZoneVirtualList` to `react-virtualized` and found this [issue](https://github.com/bvaughn/react-virtualized/issues/23) this morning.  It seems that the second to last comment may be the solution we've been looking for 😻 I'll report back with my results

[2018-03-07 16:00] asynchub commented on #264
thanks a lot for your find @jcalebj 👍
having same feeling to deal with react-virtualized
hopefully you are right, that recomputeRowHeight can resolve this.
will try this later in the evening as well :)

[2018-03-08 14:18] szilderus commented on #245
Thanks for adding this but what I've ment is something little bit different - imagine for example that you have 'needle' in the list of 1000 'hay' elements that are ON THE SAME LEVEL - you need to scroll 1000 elements to view the 'needle'. Is it possible to HIDE all 'hay' elements? And leave on the tree only 'needles'. Display only branches that contains 'needle'.

Regards!

[2018-03-08 17:01] Trinakriae commented on #74
Hello @fritz-c, sorry to open this old thread again but my issue is realted to one of the solutions offered above. I am using React with TypeScript and my code looks like this:
`<SortableTree
                        ...
                        generateNodeProps={rowInfo => ({
                            onClick: () => this.onSelectNode(rowInfo),
                            buttons: [<Button onClic

[2018-03-08 17:09] svenadlung commented on #264
Yeah, I was thinking the issue is with `react-virtualized`. I didn't dig deeper so far. Did you progress your work?

[2018-03-08 19:39] jcalebj commented on #264
Yeah @asynchub @svenadlung , I found a solution for resetting the height correctly _after_ moving/dragging a node. To be clear, the issue is **not** with `react-virtualized`.

`react-sortable-tree.js` is missing a call to `List.recomputeRowHeights()`.  See docs [here](https://github.com/bvaughn/react-virtualized/blob/master/docs/List.md#recomputerowheights-index-number).

Right now I have that cal

[2018-03-08 19:41] asynchub commented on #264
hi @svenadlung have found how to invoke the function `recomputeRowHeights` inside `ScrollZoneVirtualList`.
need to find out, where to call this function exactly to make clicked node height and offset position of next rows. working on this.
any ideas @svenadlung, @jcalebj

[2018-03-08 19:42] jcalebj commented on #264
@asynchub see my last comment for my findings

[2018-03-09 11:41] asynchub commented on #264
@jcalebj, have you seen this plunker [https://plnkr.co/edit/lTFmKOQlJLIehL1LIY47?p=preview](url) ?
got it from 4th post by @bvaughn from this issue: [https://github.com/bvaughn/react-virtualized/issues/307](url)
there is one more `recomputeRowHeights` and that is passed to <VirtualScroll> with comment: `// Check if any heights have been recalculated before the ref was set`
have you tried to call r

[2018-03-09 15:42] jcalebj commented on #264
@asynchub I'll test that out today

[2018-03-10 00:39] asynchub commented on #264
@jcalebj, thanks a lot for your fix
from there, got working solution for challenge with row height on tree node click:
ref line is the same and at the same place as you have:
`ref={el => {
                this.scrollZoneVirtualListComponent = el
              }}`
and the `recomputeRowHeights` call is just before you return from render, like this:
`if (isVirtualized) {
      this.scrollZoneVirtualL

[2018-03-11 18:46] jcalebj commented on #264
@asynchub I believe if you call `recomputeRowHeights` within the render that that's an anti-pattern. Are you not getting warnings in your console from that?

To be clear, did you get a working solution in place? Or is what you wrote above a work in progress?

I've solved the problem of having incorrect row heights after a move, it's in [PR 269](https://github.com/fritz-c/react-sortable-tree/pull/2

[2018-03-12 04:44] #254 closed

[2018-03-12 04:52] wuweiweiwu commented on #263
@vxsx I would checkout the `shouldCopyOnOutsideDrop` and see if that will help your issue.

similar issue here https://github.com/fritz-c/react-sortable-tree/issues/145

that'll be awesome if you submit a PR with it :)

[2018-03-12 04:56] wuweiweiwu commented on #252
@edargham react-sortable-tree provides the `theme` prop for customization and also `nodeContentRenderer` if you want even more customization. You can use that to specify how the nodes are styled/rendered. Hope that helps :)

[2018-03-12 04:58] wuweiweiwu commented on #213
@kbulygin @top1st I personally have not run across this error before. Is this still an issue?

[2018-03-12 05:02] wuweiweiwu commented on #267
Hi @zourbuth Do you mind posting a repro?

[2018-03-12 05:04] wuweiweiwu commented on #265
@rayray currently I do not think we support this feature. However, you are welcome to submit a PR :)

[2018-03-12 05:07] wuweiweiwu commented on #262
@charue808 I apologize for the tardy response.

`generateNodeProps` should return an object that will be the additional props to a node so thus

[code]

would be a valid return value from `generateNodeProps`

[2018-03-12 06:03] wuweiweiwu opened #270 "Add storybook for expandOnlySearchedNodes"
demo what it is like when you are searching a giant tree with a lot of nesting

[2018-03-12 07:52] wuweiweiwu commented on #250
Hi @xgzl87 can you clarify your issue/feature request?

Do you want to specify a class for a row?

[2018-03-12 07:55] wuweiweiwu commented on #246
@arvinxx what do you mean by css technique? In a custom theme you would define the CSS styles that your tree will render with

[2018-03-12 07:56] wuweiweiwu commented on #228
@sureshapn do you mean that you want to sort the tree data by siblinId? Or can you please clarify your question thanks :)

[2018-03-12 07:58] wuweiweiwu commented on #226
@kaueDM @ajeffrey I would consider using the `theme` prop or for even more customization use the `nodeContentRenderer` prop

or even write your own theme :)

Hope that helps

[2018-03-12 07:59] wuweiweiwu commented on #212
I am going to close this. Seems to be resolved.

[2018-03-12 07:59] #212 closed

[2018-03-12 08:01] wuweiweiwu commented on #172
Seems like this has been resolved :)

[2018-03-12 08:01] #172 closed

[2018-03-12 14:10] zourbuth commented on #267
I've tested using Storybook example [Drag from external source](https://github.com/fritz-c/react-sortable-tree/blob/master/examples/storybooks/external-node.js) to prevent drop Baby Rabbit into Papa Rabbit, then shows message why it is prevented.

[code]

[2018-03-12 20:29] wuweiweiwu commented on #267
@zourbuth this issue is confirmed and I think its due to how we bind `this` when we create `DropTarget`. I will have to investigate more later

[2018-03-13 02:09] xgzl87 commented on #250
I want to set the style of a line individually, like this，

[2018-03-13 17:39] Trinakriae commented on #69
@fritz-c I updated the library but still I cannot customized the height of the nodes since it is hardcoded. Is the new package already available in npm? Thanks!

[2018-03-14 02:02] jcalebj commented on #264
@wuweiweiwu Is there a reason for labelling this issue 'enhancement' and not 'bug'?  This is a known problem with current documented functionality. Re-sorting a node when `isVirtualized` and `rowHeight` set to a func does _not_ work correctly.

[2018-03-14 07:50] asynchub commented on #264
@jcalebj, there is warning, yes this gives a warning about `rener()` purity:
`Warning: Cannot update during an existing state transition (such as within `render` or another component's constructor).`
this is just working solution in place, just for now, and it works for dragging/moving feature too.

[2018-03-15 09:14] brendanmoore commented on #260
@fritz-c I have put together a work-in-progress PR on this if you have a moment would be cool if you could give me some feedback. Initially I have just switched to Rollup with a couple of babel tweaks to remove the webpack module padding and some babel duplication which has reduced size by ~36KB.

It appears that the drag and drop manager has no side effects that I can see. Which logic is it that

[2018-03-15 15:47] 29er opened #272 "Need path info immediately after adding item to tree"
This is more of a question.
I am adding node programmatically, similar to here:
https://fritz-c.github.io/react-sortable-tree/storybook/index.html?selectedKind=Basics&selectedStory=Add%20and%20remove%20nodes%20programmatically&full=0&addons=0&stories=1&panelRight=0

Immediately after adding a node to the tree I need to find the path info which the item was inserted at (similar to clicking a button

[2018-03-15 15:54] 29er commented on #250
@xgzl87 I am doing custom class depending property of a row like this. not sure if this helps as your question is not that clear...

[code]

[2018-03-15 17:34] wuweiweiwu opened #273 "Replace deprecated / async-unsafe lifecycles"
https://github.com/bvaughn/react-virtualized/pull/1009
https://deploy-preview-596--reactjs.netlify.com/blog/2018/03/15/update-on-async-rendering.html

Migrate to `getDerivedStateFromProps`

and move off soon to be deprecated lifecycle functions in react 16.x:

`componentWillMount`
`componentWillReceiveProps`
`componentWillUpdate`

[2018-03-16 17:17] kbulygin commented on #213
@wuweiweiwu That was a misuse rather than an error. As for if it's still possible, I guess yes.

[2018-03-18 17:37] tejaswaroop51 opened #274 "react-sortable-tree when Importing causing the issue"
Hi,

I am trying to import latest version of react-sortable-tree and when I ran I got following issue on console

inherits.js?0578:21 Uncaught TypeError: Super expression must either be null or a function, not undefined
    at exports.default (eval at <anonymous> (micro-app.js:8291), <anonymous>:21:11)
    at eval (eval at <anonymous> (micro-app.js:9024), <anonymous>:122:26)
    at eval (eval at <

[2018-03-19 18:17] tejaswaroop51 commented on #177
its not working at all @uptonking @sakhamuri92 . Tried different combinations and solutions still I am receiving same error. Really getting pissed off with this component. Thanks for making our lives hell

[2018-03-19 18:54] shalinigr commented on #177
@top1st Were you able to resolve this issue? I'm getting the same error when I use the SortableTreeWithoutDndContext.

[2018-03-21 19:10] svenadlung commented on #264
Any news on this? In my understanding there is a PR which is fixing this on drop but not while dragging. Anyways, the PR is not ready to merge? Please correct me if I am wrong! It would be great if someone finds a solution even while dragging (besides the hack to put it in the render-Function ;)).

[2018-03-22 00:41] wuweiweiwu commented on #274
Hi Can you post a reproduction? Perhaps a codesandbox?

[2018-03-22 00:49] wuweiweiwu commented on #272
Hi @29er. You can use the helper functions https://github.com/fritz-c/react-sortable-tree#data-helper-functions. to get the treeData and then find the node you just added (either by title or key) specifying `getNodeKey` prop might help :)

[2018-03-23 16:58] vdanyliv commented on #274
@tejaswaroop51 react-virtualized can throw such error in case if your application use react >=15.3

[2018-03-24 21:49] bknill commented on #201
I'm getting the same as this with basic example code.

[2018-03-24 21:55] bknill opened #275 "Possible to have nodes appearing above root"
I want to have the tree at the bottom of a UI, with nodes appearing above. How would I go about this?

[2018-03-26 08:37] hemadriDasari1990 opened #276 "How to highlight last expanded item?"
Is there a way to highlight last expanded item in the file explorer?

[2018-03-26 08:42] wuweiweiwu commented on #276
Hi @hemadriDasari1990 you can use the `generateNodeProps` to add an `onClick` handler to the node. And then use that to add `classNames` for a highlighted node that is clicked. Hope that helps

[2018-03-26 17:02] danielteles opened #277 "CSS Styling"
Hi everyone, I'm having some trouble while trying to implement the component. The CSS is not loaded within the component. I imported the 'react-sortable-tree/style.css' so I imagine that this is not the problem. I also tried to use a theme to solve this and it "solved" in part, but not everything works.
That is the output **without** the file explorer theme is:
<img width="606" alt="screen shot 20

[2018-03-26 22:39] wuweiweiwu commented on #277
Hi @danielteles can you post how you are using the theme?

Are you using it like as show in the repo? You should not have to import any css

https://github.com/fritz-c/react-sortable-tree-theme-file-explorer

[2018-03-26 22:44] wuweiweiwu commented on #275
Hi @bknill, I dont think this functionality is possible. It might be possible through a theme but that would require some major styling overhaul

[2018-03-27 01:41] wuweiweiwu commented on #215
@gaearon Thanks! I'm going to mark this as resolved

[2018-03-27 01:43] wuweiweiwu commented on #11
@steventebrinke I'm currently a little busy with work. Feel free to submit a PR

[2018-03-27 01:49] wuweiweiwu commented on #209
Seems to be related to #253

[2018-03-27 01:53] wuweiweiwu commented on #173
@DharanBro feel free to open a PR. adding a prop that work together canDrag / canDrop would be cool.

[2018-03-27 01:55] wuweiweiwu commented on #205
@lifejuggler @JWaldenback Feel free to make a PR :)

[2018-03-27 01:58] wuweiweiwu commented on #201
@psycura The issue is not with `.rst_tree` but with how `react-virtualized` handles container sizes.  virtualized containers grow to **fill** available space. Thus you must have some element that is a parent of `react-sortable-tree` that is not set explicitly. This is a similar issue. https://github.com/bvaughn/react-virtualized/issues/492 Hope that helps :)

[2018-03-27 10:11] hemadriDasari1990 commented on #276
Hi thanks for quick response. I tried below code but it is keeping bold whichever is expanded instead of just the recent one.

generateNodeProps={rowInfo => ({
    style:{fontWeight: rowInfo.node.expanded? ‘bold’: ‘normal’}
})}

If feasible can you please suggest me some sample code to add an onClick handler to add classNames.

[2018-03-28 00:25] bknill commented on #275
Thanks

[2018-03-28 00:26] #275 closed

[2018-03-28 01:39] wuweiweiwu commented on #141
@oarashi I would have to double check but if you set canDrop to false for the top level nodes then they should not expand. I would also consider adding a `expandable` prop. Feel free to open a PR :)

[2018-03-28 01:45] wuweiweiwu commented on #177
@tejaswaroop51 Getting mad at the component and/or maintainers won't help. You have to realize that @fritz-c and I maintain this component in our free time. If you have an urgent issue, we try our best. If you are unhappy feel free to contribute/investigate/open a PR.

@shalinigr @top1st @uptonking @sakhamuri92 If you guys can post a minimal reproduction that would be most helpful. Otherwise, I wi

[2018-03-28 05:32] techboy-zero opened #278 "Error: Cannot add to children defined by a function"
Tried to keep the demo as simple as possible.
https://codesandbox.io/s/2oko3wl8v0

Scenario:
Try to drag a node under another node which has a lazy loader function as value children property.

Result:
It throws error stated below:
[code]

Expectation:
Its fine with me if I cannot drag under a node which has lazy loader function as children. As we can control the drop operation by passing **canDrop

[2018-03-28 16:37] danielteles commented on #277
![screen shot 2018-03-28 at 13 35 36](https://user-images.githubusercontent.com/5444753/38043249-f9437914-328c-11e8-9558-f1dee5ed58f3.png)
![screen shot 2018-03-28 at 13 35 45](https://user-images.githubusercontent.com/5444753/38043250-f964c326-328c-11e8-888c-60928d316493.png)

Hey @wuweiweiwu , sorry for the late response I only saw your reply now. Here's how I'm using the component, IDK what cou

[2018-03-28 17:34] wuweiweiwu commented on #277
I see. https://codesandbox.io/s/zn65wn760p I was able to replicate this. Can you file an issue under the repository for the theme and link this one? I'll find some time to fix it

[2018-03-28 18:19] danielteles commented on #277
Yes, I'll do this right away. Thanks dude :)

[2018-03-28 19:47] wuweiweiwu commented on #277
Thanks!

[2018-03-28 22:26] wuweiweiwu commented on #278
@techboy-zero thanks for the repro! I'll investigate this weekend.

[2018-03-28 22:28] wuweiweiwu commented on #264
@svenadlung seems that @jcalebj is working on a PR right now. But please feel free to open a PR as well :)

[2018-03-28 22:38] wuweiweiwu commented on #276
@hemadriDasari1990 sure! I post a codesandbox sometime this weekend.

I would probably store the last expanded nodekey in state somewhere and use that in generate nodeProps

[2018-03-29 07:55] xgzl87 opened #280 "isVirtualized ={true},rowHeight default height is 62px,How to modify？"
# Reporting a Bug?

isVirtualized ={true},rowHeight default height is 62px

# Requesting a Feature?
![default](https://user-images.githubusercontent.com/12945325/38076853-886e3458-3369-11e8-8441-54c40edbcbc3.png)

[2018-03-29 18:38] wuweiweiwu commented on #280
Hi @xgzl87 the `rowHeight` prop is a function that takes in `node` as a param. So you can use that since the inner text would be a property of `node`

[2018-03-29 18:40] wuweiweiwu commented on #250
@xgzl87. @29er has a good solution! and thus you'd just have to have the className defined somewhere in your styles. Or you can even generate inline styles and use `style` prop

[2018-03-30 02:03] charue808 commented on #262
Hello, so I was able to figure out how to get this to work and will close it out. In case other noobs have this issue.

Here is the code from my original question:

<SortableTree
      treeData={this.state.treeData}
      onChange={treeData => this.setState({ treeData })}
       getNodeKey={({ node }) => node._id}
       generateNodeProps={rowInfo => {
       let nodeProps =  { onClick: event => t

[2018-03-30 02:03] #262 closed

[2018-03-30 02:39] xgzl87 commented on #250
I will try it, thank you all!

[2018-03-30 23:35] wuweiweiwu opened #281 "Major bugs"
This is a umbrella issue to track major bugs that should be fixed ASAP. Feel free to comment to add more.

[2018-04-02 05:59] xgzl87 commented on #280
isVirtualized is true，rowHeight prop is a function No parameters

[2018-04-02 06:01] xgzl87 commented on #280
isVirtualized is false，the rowHeight prop is a function that takes in node as a param.
What does isVirtualized have to do?

[2018-04-02 08:08] wuweiweiwu opened #282 "Rewrite the documentation"
I really like how `react-dnd`'s website looks http://react-dnd.github.io/react-dnd/

react-router's website is awesome too! https://reacttraining.com/react-router/web/guides/philosophy

perhaps something with live code examples

- [x] keep storybooks
- [ ] use codesandbox git extractor
- [x] new website using zeit.co realtime deployments "now.sh"
- [x] new icon
- [ ] better website

[2018-04-04 14:59] danielteles commented on #277
Any news @wuweiweiwu ?

[2018-04-08 14:46] nickwil commented on #282
I'm more than willing to take on this project. I'll send a pull request your way in the upcoming week

[2018-04-09 04:12] wuweiweiwu commented on #282
@nickwil Awesome! I look forward to your PR

[2018-04-09 05:10] hemadriDasari1990 opened #283 "How to update breadcrumbs based on node expanded?"
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2018-04-09 05:12] hemadriDasari1990 commented on #283
Hi I am trying to add breadcrumbs based on which node has expanded but unable to get through with working solution. Can someone please help me to achieve this. I also google but no solution related to this.

[2018-04-09 07:16] wuweiweiwu commented on #283
Hi @hemadriDasari1990 can you clarify what breadcrumbs are? perhaps a screenshot?

[2018-04-09 09:34] Suremotoo opened #284 "Can i change the style ?"
it's landscape orientation  , example:

![demo](https://user-images.githubusercontent.com/26423989/38490639-323cc16a-3c1c-11e8-8e0d-a4cf83d18612.jpg)

[2018-04-10 10:57] OliverKK commented on #274
Same behaviour here by using React < 15.3

Any suggestions to fix this?

[2018-04-10 20:05] 29er commented on #272
sorry for late response on this. but this is exactly my question. which utility function would give me the new path info of the node I just added ( if I were to use 'title' as my search term ) ? Can you give me an example using one of the helper functions ?
Thanks

[2018-04-11 00:17] adeperio opened #286 "rootKey in getTreeFromFlatData not behaving correctly for string based keys"
Hi, think I've found a bug,

When trying to use the getTreeFromFlat data function, and:
1. Your id's are global strings
2. Your tree doesn't have a rootKey

The function keeps returning back an empty array []

I think this is a bug in the function in the following code block
https://github.com/fritz-c/react-sortable-tree/blob/337a633e75a761f6a10bdf9ea0e2d06d82e603b9/src/utils/tree-data-utils.js#L9

[2018-04-11 00:34] adeperio commented on #286
Also, I noticed this function is using recursion to build the tree.

Just wanted to reference this StackOverflow question here:
https://stackoverflow.com/questions/18017869/build-tree-array-from-flat-array-in-javascript

Is recursion the best method to build the tree from a flat data structure?

[2018-04-11 16:46] danblaker commented on #141
@wuweiweiwu I agree with @oarashi that this is a terrific library; however, the current instant-expand behavior severely limits the usability of the interface. I've watched a number of users struggle with trying to find the destination container as nodes expand while they drag; in most cases, their target moves unexpectedly when their drag cursor approaches it because the node before it has expand

[2018-04-11 22:10] buzztone commented on #141
I think there is definitely a need to forbid expansion of collapsed nodes in some use cases.

We use [Drag from external source](https://fritz-c.github.io/react-sortable-tree/storybook/?selectedKind=Advanced&selectedStory=Drag%20from%20external%20source&full=0&addons=0&stories=1&panelRight=0) to add nodes to an existing tree.

Our users often have significant problems adding new nodes when existin

[2018-04-12 01:02] wuweiweiwu commented on #286
Hi @adeperio do you mind posting a repro? a JS snippet or even codesandbox would be appreciated :)

[2018-04-12 01:03] wuweiweiwu commented on #284
You can do custom styling on the nodes using `generateNodeProps` or use a theme :) Hope that helps

[2018-04-12 03:27] Suremotoo commented on #284
i'm so sorry, The doc it's simple, can you offer me a demo?  thanks.

[2018-04-14 19:22] neurobutter opened #287 "Custom sort order when saving tree to database"
First of all, thank you so much for this wonderful project.

I am trying to save my tree to a relational database. Can I manually set the sort order using "treeindex"? I'm currently using the import getTreeFromFlatData utils. I want to be able to save custom sort order of the tree to DB... is this possible?

eg. data looks like this:

const initialData = [
  { id: '1', name: 'N1', parent: null, tr

[2018-04-14 19:30] neurobutter commented on #287
In case it's not clear:

I have no problem saving the treeIndex to the database to retain sort order, but when reading the nodes from the db, i have no idea how to set the treeIndex property directly in the sortable tree control - or whether it's even possible. My index is also saved in the DB as tree_index, not sure how to alias it as "treeIndex" on the way back, using the import utils.

[2018-04-15 03:30] NickEmpetvee opened #288 "Issue with `npm run storybook`"
I'm trying to run storybook with npm run storybook and getting the below error. The same happens if I run it with yarn or `npm run storybook --port 3001`. Please note that `npm start` works and properly launches a web server with the starter sortable tree and not the storybook som I'm only looking for help on the storybook. Looking for any suggestions anyone may have on this.

`C:\mcdev\react\reac

[2018-04-15 09:25] wuweiweiwu commented on #287
is there something preventing you from saving it to the db as `treeIndex` or simply adding another field on in the returned JSON ?

[2018-04-15 12:30] neurobutter commented on #287
Thanks for your response. I think the solution was much more simple (once i took a step back) - i was saving the treeindex into the DB just fine - but I didn't realize that I could just order the result set my saved treeIndex on the way out of the DB... the import functionality seems to consider the order of the flat list as a way to assign the treeindex order.

[2018-04-15 12:30] #287 closed

[2018-04-16 05:06] #288 closed

[2018-04-16 06:32] wuweiweiwu commented on #288
I see. I will update the docs so that is more clear

[2018-04-17 02:26] lifejuggler commented on #205
@JWaldenback, height should be adjustable... let me know if it isn't

[2018-04-18 12:43] adeperio commented on #286
@wuweiweiwu sorry haven't had time to look into this yet, on my radar though :) I actually ended up going with a solution that doesn't use recursion (based from that SO link above) which I think might be a better performer?

[2018-04-19 01:45] wuweiweiwu commented on #286
I see, thanks! I'll be taking a deep dive in to `react-sortable-tree` soon so I'll keep that in mind.

[2018-04-20 04:28] NickEmpetvee opened #290 "Bringing this into existing application"
If I want to import react-sortable-tree into an existing application how do I do it? What are the minimum files I'd need to copy into the other application?

[2018-04-20 08:12] wuweiweiwu commented on #290
You would have to install via `yarn add react-sortable-tree` or `npm install react-sortable-tree --save`

and the [readme](https://github.com/fritz-c/react-sortable-tree/blob/master/README.md) has some demos!

[2018-04-21 02:26] NickEmpetvee commented on #290
Thanks let me give that a shot.

[2018-04-21 02:44] bfang711 opened #291 "How can I add a Checkbox into each of the node."
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2018-04-21 05:50] NickEmpetvee commented on #290
So that worked. Thank you! As I'm new to react, I'm experimenting. Can this only be added by NPM or YARN, Or can you copy the dist (main.js) somewhere in your application's directories and include it in your web page, along with locally stored react.js / react-DOM.js and babel.js files?

[2018-04-21 08:57] wuweiweiwu commented on #290
yep! you can use with react using the npm or yarn package manager! It would be a dependency in your package.json

[2018-04-21 08:57] #290 closed

[2018-04-21 19:52] lifejuggler commented on #291
@bfang711  there is a simple way to do this, simply pass in a button into the button props (takes in array) and then depending on the state, you can pass in a custom class like this `className={isChecked ? nodeChecked : ''`} an d

[2018-04-21 19:58] lifejuggler commented on #205
@fritz-c , @wuweiweiwu, I made a pull request with the new custom theme added into the readme

[2018-04-21 21:34] NickEmpetvee commented on #290
Is there a way to use this without yarn or npm? Or are those the only ways? For example could I include your library `<script src="./react-browser-tree/main.js"></script>` in my HTML and start using this object?

[2018-04-21 22:52] NickEmpetvee opened #292 "Is there an inbuilt way to make a node in the tree a hyperlink?"
For example in the minimal Chicken/Egg implementation could we make the chicken node a hyperlink to take you to Google or something?

[2018-04-22 23:02] NickEmpetvee commented on #292
Answered my own question... you can embed links like below in a node, which generally fulfills the purpose:

[code]

[2018-04-22 23:02] #292 closed

[2018-04-23 07:35] wuweiweiwu commented on #292
Cool! Glad you solved it

[2018-04-23 07:43] wuweiweiwu commented on #291
@bfang711 Also another option (with regards to rendering a checkbox) you can actually specify a function in `nodeData` and specify the component that is rendered. This is not very well tested so use at your own risk.

for ex:

[code]
Another alternative is to use `nodeContentRenderer` to custom render your nodes.

@lifejuggler is correct on how you can change background colors. however, you will h

[2018-04-23 07:48] wuweiweiwu commented on #284
@Suremotoo feel free to reopen if you have more questions

[2018-04-23 07:48] #284 closed

[2018-04-23 08:01] wuweiweiwu commented on #290
I do not believe so. Currently we only support usage through a package manager

[2018-04-23 08:02] wuweiweiwu commented on #205
closed by #289

[2018-04-23 08:02] #205 closed

[2018-04-24 03:38] NickEmpetvee commented on #290
Ok thanks.

[2018-04-25 05:53] peter-zhu opened #293 "Illegal invocation, requestAnimationTimeout when tree is creating scroll"
I created a sortable tree and got the following error in the console when the tree is getting larger than div and creating a scroll:
[code]
The tree works as intended however.
Tried to replicate this in the sandbox but couldn't. Using react and react-dom 16.2 and sortable tree 2.1.

[2018-04-25 09:17] spcfran commented on #267
+1 for being able to specify the reason why something can't be dropped - sometimes it can be the result of some complex logic rules and users could be frustrated not knowing why.

I'm not too convinced however about altering the state from inside a function named `canDrop` which is supposed to be pure and just return information.

What about something like allowing the `canDrop` callback to return

[2018-04-26 08:11] wuweiweiwu commented on #267
I was thinking allowing the `canDrop` callback to have access to the node and/or location it is going to be dropped as parameters, thus the user can use that information to render a message or whatever they want to do

[2018-04-26 13:11] Delboyeire opened #294 "restrict canDrag by parent"
We are using your library and happy with the results so far. But i query regarding canDrag, we have different node types(its a property on each node) and we want to restrict dragging based on its parent. So if a node has a particular parent it cannot be dragged, how can this be achieved? TIA

[2018-04-26 16:06] farukg opened #295 "passing props to the treeNodeRenderer"
# Requesting a Feature `generateTreeNodeProps`

* What's your use case?
I removed all `lineHalfHorizontalRight` except for the last children element. For the last elements without further children i need to remove all lines. See picture below.
![image](https://user-images.githubusercontent.com/1577842/39317178-41059502-497b-11e8-93d8-a25768fb66a8.png)
I want to know if `node` is one of the last no

[2018-04-27 06:10] ynevet opened #296 "getTreeFromFlatData only supports self-referencing tables"
currently, the `getTreeFromFlatData` API only supports self-referenced flat data, for example, the following self-referenced flat data:
[code]

Might be converted into a tree structure using the following mapping:
[code]

But it is not the case when using flat associative data, i.e.:
[code]

How can I convert the above flat associative data to well-supported tree structure?

[2018-05-02 15:45] mattvague commented on #296
@ynevet Could you clarify how your data relations are supposed to work? Are you supposed to be able to drag and drop pets to different people kind of thing?

[2018-05-03 00:59] buzztone commented on #173
I commented previously at https://github.com/frontend-collective/react-sortable-tree/issues/141#issuecomment-380611884 on why this is a major issue for users in our application.

I'd really like to see this added to the list at #281 - it's a very significant problem for many of our users.

[2018-05-03 01:07] buzztone commented on #281
@wuweiweiwu - I'd really like to see #173 added to this list.

It's a very significant problem for many of our users that fits, I think, very well with your plans "to clean up RST internal drag and drop management" mentioned at https://github.com/frontend-collective/react-sortable-tree/pull/285#issuecomment-386157745.

[2018-05-03 01:16] buzztone commented on #267
#261 appears to cover a similar issue that could be addressed by these solutions.

[2018-05-03 12:31] megaboich opened #298 "Component throws unhandled exceptions and crashes after drag over not expanded lazy-loaded node."
It seems that lazy-loading is still an experimental issue, so I have created [PR](https://github.com/frontend-collective/react-sortable-tree/pull/297) to include an example.

Steps to reproduce the actual bug:
1. Go to storybook samples and navigate to **Advanced** -> **Expand with lazy loading of child nodes**.
2. Open Console in web browser to see logs.
2. Try to drag **Egg** node over **Spacesh

[2018-05-03 14:33] peter-zhu commented on #293
Is there something I can do (a bit irritating when scrolling spams console with error messages) to fix this issue?

[2018-05-03 21:34] anushkadoyan opened #299 "Skipping levels"
Is there any way to have a grandchild and child of a node be on the same level? For example,

![git example](https://user-images.githubusercontent.com/8991130/39603949-0e798d64-4edf-11e8-993a-6519ed78f361.png)

[2018-05-05 07:40] wuweiweiwu commented on #281
Sounds good! Thanks @buzztone for bringing this to my attention

[2018-05-05 07:47] wuweiweiwu commented on #299
Unfortunately, currently we do some tricky styling to get the tree to display the nested hierarchy. However, I'm considering giving users more granular control of the placement of each node.

[2018-05-05 07:48] wuweiweiwu commented on #298
I'll have to take some time to investigate this issue. However, do you mind creating a codesandbox.io to duplicate this?

Thanks!

[2018-05-07 17:27] alarinn commented on #167
We use an open source framework called i2b2.  It allows clinical data to be searched by researchers to better understand what population sample to use.  I added a React JS component to allow for Smart Searching.  They can enter a search term and a list of results are displayed.  They can then select the hierarchy icon and below the result your sortable tree is displayed,  I enable drag and drop so

[2018-05-07 19:39] alarinn opened #301 "Question: Can I enable drag out but not allow dragging within the tree?"
I have an existing application that currently searches a value entered and returns a list of nodes that can be dragged over to a new box that is used to build the where clause in a query.  However, it won't let you drag within the search tree results, that data is final/read-only.  The problem is if I can set canDrag to true, I can drag within the tree.  Is there a way to allow for dragging outsid

[2018-05-08 02:19] wuweiweiwu commented on #301
@alarinn as far as I'm aware, that not currently supported.

As there is no way to differentiate dragging within the tree and dragging out of the tree since both events would originate from inside the tree

[2018-05-08 07:11] xgzl87 opened #302 "Can I implement nested features?"
# Requesting a Feature?
case:
I want to implement the function of decomposition relations，
mind:
![default](https://user-images.githubusercontent.com/12945325/39742828-8aa0c7ae-52d1-11e8-8bb9-179d12a16c4d.png)
How to use the existing function nested tree structure?

[2018-05-08 07:14] megaboich commented on #298
Hi @wuweiweiwu,
Yes, I understand that lazy-loading is not completed feature, also it contradicts a bit with main concept of dnd live-preview (should we load lazy children during dnd?).

I have created codesandbox for this bug: https://codesandbox.io/s/rjxr57ry9p

Also I think that our users don't like automatical expand during DND anyway as described in this issue: https://github.com/frontend-col

[2018-05-08 16:59] anushkadoyan commented on #272
Was also wondering the same thing. Can't find a built in function that would do this

[2018-05-08 20:31] wuweiweiwu commented on #44
@IvanGrodno this issue is already documented as a bug / more investigation. For future reference, its probably best to open a new issue or look if this issue already exists.

Maintainers rarely check closed issues.

[2018-05-08 23:12] lifejuggler commented on #301
@alarinn, a hacky solution to this problem is using `onChange` that I using is to use `onChange`. In `onChange`,  you can add a condition that checks both the 'old' and 'new' treeData to see if they have the same data but in different order and prevent it from updating the treeData in such a case giving an illusion that tree's drag and drop doesn't work. This specificity is important because other

[2018-05-09 08:28] wuweiweiwu commented on #298
@megaboich haha yeah umm... I'll have to give that some thought. Yep its added to the umbrella #281.

That'll be awesome! I'll probably get started on a rewrite of the DND implementation soon as well.

[2018-05-09 08:36] wuweiweiwu commented on #272
if you were dragging I would use the `onMoveNode` callback which has a `nextPath` property.

However, programmatically adding nodes would be a little tricky. I would recommend using the `generateNodeProps`  prop and adding an event handler to the node that binds the value `path` from the callback.

Hope that helps!

[2018-05-09 08:39] wuweiweiwu commented on #302
I would specify the hierarchal data in `treeData` prop.

[2018-05-09 09:12] xgzl87 commented on #302
After the update, please  sent a message to inform me about it. Thanks

[2018-05-09 10:01] Delboyeire opened #303 "getNodeKey default"
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2018-05-09 13:35] lifejuggler commented on #281
@wuweiweiwu  are you planning to leave these issues for this version and fix it on the next major version up?

[2018-05-09 15:00] Delboyeire commented on #167
We are using react-sortable-tree for building a kind of drag and drop execution process, where we can drag in blocks of commands to build the 'program' and we will build an execution runtime afterwards
![image](https://user-images.githubusercontent.com/14996120/39822272-701ca4d2-53aa-11e8-9c32-9825fb44530a.png)

We are missing some things which we would like, for one example, when we drop a node o

[2018-05-09 20:38] wuweiweiwu commented on #281
@lifejuggler that is the plan for now

[2018-05-09 20:41] wuweiweiwu commented on #167
@Delboyeire can you open an issue, we can continue the discussion there.

you can use the `onMoveNode` or the `onChange` callback for your use case

[2018-05-09 22:57] wuweiweiwu commented on #303
we don't do that because the util functions are also used internally by `react-sortable-tree` which allows users to specify `getNodeKey` prop and we pass that to the util functions.

I think requiring the user to specify the `getNodeKey` explicitly is nice.

However, I'll also welcome a PR if you want to implement that

[2018-05-14 13:39] daniel-wer opened #304 "Drag and Drop freezes in Firefox"
While dragging a node close to the left border of the sortable-tree in Firefox (60.0), the drag and drop functionality reproducibly "freezes" (the drop preview no longer updates). This only happens in Firefox for me, Chrome works as expected.
I'm running Ubuntu 16.04 (4.13.0-40).

This can be reproduced using the default [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w).

See the attached

[2018-05-15 08:51] wuweiweiwu commented on #304
Thanks! @daniel-wer. We'll need to figure out a way to handle dragging out of the container and then back in

[2018-05-15 13:17] daniel-wer commented on #304
Just out of curiosity, do you happen to know why this works in Chrome but not in Firefox? :)

[2018-05-15 15:39] daniel-wer opened #305 "Scrolling to matched node doesn't work when treeData changed"
I'm using the searchQuery and searchFocusOffset props to highlight a specific node in my list and scroll to it. This mostly works as intended, however, every time the actual `treeData` changes, the scrolling doesn't work.
See this example with a list and two buttons. Clicking one button adds an element to `treeData` - the scrolling to the highlighted node doesn't work. Clicking the other button ca

[2018-05-15 17:18] wuweiweiwu commented on #304
@daniel-wer to be honest, I am not sure. Maybe drag events don't fire when you drag back in from outside of the window?

[2018-05-15 23:06] Vaishnavi-R opened #306 "Modifying the Title Node"
Hello,

I am trying to edit a particular node in RST. This is done by 'Edit Title' button click on the context menu. I followed - https://frontend-collective.github.io/react-sortable-tree/storybook/?selectedKind=Basics&selectedStory=Modify%20nodes&full=0&addons=0&stories=1&panelRight=0 and am able to edit the node successfully. My issue is, I need to revert the node I am editing to look like rest

[2018-05-15 23:27] wuweiweiwu commented on #306
Hi @Vaishnavi-R I would recommending storing something in state like `isInput` or something.

and use that state to determine what renders in `title` [link](https://github.com/frontend-collective/react-sortable-tree/blob/master/examples/storybooks/modify-nodes.js#L32)

and add a new callback `onBlur` onto the input to set `isInput` to false.

[code]

Hope that helps!

[2018-05-16 04:39] liuhaif opened #307 "chrom report "uncontrolled input of type undefined to be controlled""
When edit content, chrom report "VM1313 bundle.js:75157 Warning: A component is changing an uncontrolled input of type undefined to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. More info: https://fb.me/react-controlled-components".
The reason is thi

[2018-05-16 08:13] wuweiweiwu commented on #307
Hi @liuhaif can you post your code in a working [codesandbox](https://codesandbox.io/)? Thanks

It'll be nice to have a minimum reproduction since I don't know what other parts of your code are doing

[2018-05-16 16:53] anushkadoyan opened #308 "Max Depth"
Is there a function to get the max depth of the tree?

[2018-05-16 22:59] Vaishnavi-R commented on #306
Thanks much @wuweiweiwu. Will get back to you.

[2018-05-16 23:17] bfang711 opened #309 "How to fill color into a node background"
I would like to fill node background with another color other than white, however seems like not able to. Here is what I did.
[code]

and this is how it looks.  (I want color fill all the node)
![image](https://user-images.githubusercontent.com/13139744/40148738-a38717c4-593d-11e8-9d5f-faad7b11cb35.png)

Please let me know how to resolve it.

thank you so much.

[2018-05-17 03:47] owcc opened #310 "enhanced performance"
I found in some case that like `onClick` on `treeNode` tigger unnecessary update

![2018-05-17 11 33 03](https://user-images.githubusercontent.com/5770548/40155505-afc878b4-59c6-11e8-8521-973190758789.gif)
[code]

it's not a big deal but better to not  happen

[2018-05-17 10:28] olgadr commented on #209
Hi, I've created custom RTL theme, that looks great, the only problem is getTargetDepth function, that calculates the depth by element x offset, any idea how can I overwrite this function?

[2018-05-17 10:34] olgadr opened #311 "RTL drag and drop issue"
Hi, I've created custom RTL theme, that looks great, the only problem is getTargetDepth function, that calculates the depth by element x offset, any idea how can I overwrite this function?

[2018-05-18 03:29] namhoai opened #312 "react-sortable-tree is not used with react-dnd"
react-sortable-tree is not used with react-dnd

I am having the following problem:
I have 2 tabs
+ tab01 I use react-sortable-tree
+ tab02 I use react-dnd
I'm having trouble switching tabs.
When I moved the tab I got an error: "Can not have two HTML5 backends at the same time."
help me please.

[2018-05-18 06:15] wuweiweiwu commented on #309
you can generate a style prop. It isn't working right now because you are putting it in the title

ex:

[code]

hope that helps!

[2018-05-18 06:18] wuweiweiwu commented on #308
I would use `walk` and in the callback check the length of the `path` array which is essentially the depth of the node in the tree.

https://github.com/frontend-collective/react-sortable-tree/blob/master/src/utils/tree-data-utils.js#L326

[2018-05-21 10:55] zourbuth opened #314 "Question: Modify lineBlock"
Is there a way to modify `lineBlock'? Like adding custom class names, or add elements inside it.

![lineblock](https://user-images.githubusercontent.com/451977/40304214-023b056a-5d20-11e8-9995-bd8588df6c4b.png)

[2018-05-21 23:54] wuweiweiwu commented on #310
@owcc That is the nature of drag and drop. When you click, we prepare the nodes for dragging.

[2018-05-22 04:36] wuweiweiwu commented on #209
@olgadr That'll be tough since we do some tricky css styling around the positioning of the nodes. But possible in the next major release.

[2018-05-22 15:28] kanli1984 opened #317 "Question: How to prevent node from being dropped before another node at top level?"
Is it possible to prevent node from being dropped before specific node at top level? This is possible for non-top level node since `nextParent` with latest state of children will be passed to `canDrop` callback. For top level node, `nextParent` is null and I can't figure way to get latest state of tree. Without latest state of tree, how can I tell in front of which node it's being dropped?

Exampl

[2018-05-23 03:48] wuweiweiwu opened #318 "Update react-virtualized to 9.19.1 also update react-test-renderer"
The new rewrite uses a ref in `componentDidMount` which is always `null` when rendered with `react-test-renderer`

fix: use `createNodeMock` option

[2018-05-23 03:49] wuweiweiwu commented on #318
https://github.com/frontend-collective/react-sortable-tree/pull/316

[2018-05-23 04:11] wuweiweiwu commented on #318
merged

[2018-05-23 04:11] #318 closed

[2018-05-23 04:12] wuweiweiwu opened #319 "Better docs around exported utility functions"
related: #282

Update documentation. I don't really want the giant prop table crowding up the README

[2018-05-24 00:10] anushkadoyan commented on #299
I'd like to implement this, could you point me in the right direction?

[2018-05-24 08:10] wuweiweiwu commented on #314
hi @zourbuth unfortunately no. those `div` elements are used for the hierarchal lines that you see in the tree. You can try manually overriding the classes (ex: `rst__lineBlock`...) but that might have some unintended effects.

[2018-05-24 08:12] wuweiweiwu commented on #317
Hi @kanli1984. I'm prettty sure `nextParent` is only going to be `null` at the top level so you can use that.

or you can also check `nextPath` and if its length 0 then that means its at top level.

hope that helps :)

[2018-05-24 08:14] wuweiweiwu commented on #299
@anushkadoyan that'll be awesome!

This is specified using `div`s and custom css in [treenode](https://github.com/frontend-collective/react-sortable-tree/blob/master/src/tree-node.js) and the styles are defined [here](https://github.com/frontend-collective/react-sortable-tree/blob/master/src/tree-node.css)

Let me know if you have any questions

[2018-05-24 14:46] zourbuth commented on #314
Hi @wuweiweiwu, thanks for the clarification.

Is there a plan to create a new option to override it like `nodeContentRenderer` and `placeholderRenderer` for next release?

[2018-05-24 18:30] weedkiller opened #321 "Jquery or a plain Javascript version"
Hello, any chance you would consider making this available to plain JS or Jquery

[2018-05-24 22:48] wuweiweiwu commented on #321
@weedkiller yep! I'm planning to add a global friendly `umd` build, probably in a minor release

[2018-05-24 22:53] wuweiweiwu commented on #314
@zourbuth yes! #299 is related and someone is working on that :)

[2018-05-25 01:58] zourbuth commented on #314
Glad to hear that. Thanks.

[2018-05-25 02:15] zourbuth commented on #267
@wuweiweiwu we would like to help, but don't know where to start, what piece of code need to modify. Perhaps you can point it to us.

[2018-05-25 16:09] kanli1984 commented on #317
I'm not trying to prevent dropping at top level in general. For instance dropping PF2 in front of PF1 is a valid operation. I want to only prevent user from dropping folder in front of any of the SF folder.

[2018-05-26 19:47] EJIqpEP opened #322 "How to get previous node in onMoveNode"
Hi. Thanks a lot for this library. It looks really promising for my project. However I have one question. I'm using https://github.com/collectiveidea/awesome_nested_set in rails backend and to move node it accepts only move_to_left_of node and move_to_right_of_node. The problem is now to find the previous node in onMoveNode callback. How to get previous node here? Let's say I want to move node B i

[2018-05-27 13:03] hyperknot commented on #260
An other issue with bundle size is that simply adding react-sortable-tree adds 4 different kind of lodash builds to the bundle.

I've opened an issue in https://github.com/azuqua/react-dnd-scrollzone/issues/33
I believe if dnd uses the full lodash package then all the dependencies should use it as well.

[2018-05-27 13:40] hyperknot opened #323 "file input drop not working after adding sortable tree"
Simply adding a sortable tree to a website disables the native drop target functionality `<input type="file">`, at least in Chrome.

If the SortableTree is removed you can drag files to the input button. If it is present you cannot.

https://codesandbox.io/s/w782y73nq8

[2018-05-27 15:21] hyperknot opened #324 "How to implement canExpand?"
How do you implement canExpand? With the file-browser analogy, I do not want to offer expanded file nodes during drag and drop. Yes, it is displayed in red, if you implement canDrop, but I'd like a "file" like node to not even expand, as it's only ever meant to be a leaf node.

[2018-05-27 15:49] lionben89 opened #325 "rtl-support"
I added rtl-support, i want to share this feature with you,
how can I do it?

I tried to push my branch to make a pull request without any success,
please help.

Thanks,
lion

[2018-05-28 06:49] xgzl87 commented on #302
Is this feature ready?

[2018-05-29 06:52] wuweiweiwu commented on #299
@anushkadoyan oh I see now. Perhaps then this would require a new field being added to each `node` in `treeData` that is default the level that they are supposed to be on.

[2018-05-29 06:56] wuweiweiwu commented on #267
hi @zourbuth that would be much appreciated! https://github.com/frontend-collective/react-sortable-tree/blob/master/src/utils/dnd-manager.js#L146 is where the `this.props.canDrop` is called.

This would requiring allowing the user specifying a callback parameter in `canDrop` can calling it with the required parameters (ex: node, location)

[2018-05-29 07:27] wuweiweiwu commented on #302
Hi @xgzl87, you have to specify the node hiearchies in the `treeData` prop. I would checkout the example on the main website.

https://frontend-collective.github.io/react-sortable-tree/

[2018-05-29 07:27] #302 closed

[2018-05-29 07:30] wuweiweiwu commented on #317
@kanli1984 I see. current the `canDrop`  call back doesn't support something like `nextChildren`

I'll probably get to it eventually but if you want to contribute this feature it'll be much appreciated!

[2018-05-29 22:21] ericbowden opened #326 "Documentation error: expandOnlySearchedNodes should be onlyExpandSearchedNodes"
There is an error in the documentation: expandOnlySearchedNodes should be onlyExpandSearchedNodes

[2018-05-30 07:33] BadLeo commented on #78
My workaround here:
1) in treeData, set a className for your node
[code]

2) in generateNodeProps, set the className to node base dom
[code]

3) modify it in css
[code]

[2018-06-01 08:39] wuweiweiwu opened #328 "image dummy"
![react-tree-yaaaaa](https://user-images.githubusercontent.com/35270620/40830945-8daf814c-653c-11e8-9248-88acf08f8c52.png)

[2018-06-01 08:39] #328 closed

[2018-06-01 19:45] ayubSubhaniya opened #330 "Assigning User defined ID to tree node"
# Requesting a Feature
* I am using react-sortable-tree for method calls analysis. I am generating sequence call of  a method and displaying it using tree.
* Now when I click 'i' button on tree node box I get full path upto root. But instead of integer ID in path I want name of tree Node. So in a way when I click on a tree node I get a full stack trace.
* Can you please tell me how to add user def

[2018-06-01 23:37] wuweiweiwu commented on #324
hi @hyperknot.

If you set the `expanded` property on each node to `false` in `treeData` prop and also on `onChange` call backs. then the node with `expanded` set to `false` would never expand.

Hope that helps!

[2018-06-02 12:45] hyperknot commented on #324
Hi @wuweiweiwu,

I've set expanded to false for each "file" like node, didn't make a difference. onChange is only run after a drop has happened, thus I cannot see how would it avoid opening file like nodes **while dragging**.

![sortable](https://user-images.githubusercontent.com/494223/40874752-93a6e972-6673-11e8-8c2f-9d9cb6800212.gif)

[2018-06-02 14:44] zourbuth commented on #267
Hi @wuweiweiwu, in this case, I didn't see the line as the problem. I found the line
https://github.com/frontend-collective/react-sortable-tree/blob/master/src/utils/dnd-manager.js#L252
which calls `canDrop` inside `canDrop` prop.

[code]
I understand the DnD `collect` parameter above that passed `canDrop` is used for cancel pad class in `placeholder-renderer-default.js` and `node-renderer-default

[2018-06-04 08:37] RobotnickIsrael commented on #325
Hi.

I would like that too.
Any updates on the issue? Can you help him make a pull request?

[2018-06-04 09:48] wuweiweiwu commented on #325
hi @lionben89 I have created it for you! https://github.com/frontend-collective/react-sortable-tree/pull/331

any commits you make to the `ltr-support` branch will update in the PR

[2018-06-04 09:50] wuweiweiwu commented on #325
I would recommend rebasing of master to get the most recent changes.

[code]

[2018-06-04 10:00] wuweiweiwu commented on #311
#331 Is currently what is in progress.

Right now I havent taken too much time to look at how the offset is calculated. But I'm thinking that based on a new prop `direction` we can pass that into `getTargetDepth` and adjust the depth calculations accordingly

[2018-06-04 13:12] hyperknot opened #332 "Randomly totally broken in Firefox"
In Firefox, **sometimes**, react-sortable-tree can get into a totally locked up state. This means that:

1. Dragging doesn't work at all.
2. Visually it looks bad. Non dragged items are thought to be dragged, in the rowCancelPad state.
2. Some static nodes are thought to be 0.5 opacity nodes, like while dragging, but actually they are not dragged.
4. canDrop is actually not called.

The worst part

[2018-06-04 13:45] hyperknot commented on #332
OK, I could reproduce it with the official examples on the official pages.

One particular way to trigger it is to drag one node and then quickly double click. Playing around a bit with dragging and quickly double clicking can get into this state in Firefox.

It kind of thinks it's in a continuous dragging state.

![sortable](https://user-images.githubusercontent.com/494223/40920872-2810e20c-680e-

[2018-06-04 13:50] hyperknot commented on #332
You can see how this broken state persist after page reloads.

![sortable](https://user-images.githubusercontent.com/494223/40921184-0c072ba6-680f-11e8-84a4-325e50649d4d.gif)

[2018-06-04 20:10] wuweiweiwu commented on #332
This is super weird. I don't think its with the react component though. Initially I thought there was some state inconsistency. But the reload should reset the state.

Thus I think the issue is with the HTML dnd backdend..

[2018-06-04 20:15] hyperknot commented on #332
I was thinking along the way. Maybe opening an issue in dnd is a good idea.

[2018-06-06 05:06] wuweiweiwu commented on #332
Definitely needs more investigation. I'm also thinking of getting rid of the dependency on react-dnd / html backend entirely.  possibly using whatever [react-sortable-hoc](https://github.com/clauderic/react-sortable-hoc) uses in the backend

[2018-06-06 05:08] wuweiweiwu opened #335 "Migrate off react-dnd and html-backend"
Drag and Drop causes a lot of issues.

prototype drag and drop without html-backend and react-dnd. Use something like what [react-sortable-hoc](https://github.com/clauderic/react-sortable-hoc#why-should-i-use-this) does for dnd

related: #332

[2018-06-06 05:11] wuweiweiwu commented on #282
this is nice http://clauderic.github.io/react-sortable-hoc/#/basic-configuration/basic-usage?_k=o1f3s9

[2018-06-06 07:38] wuweiweiwu opened #336 "Update react-dnd"
Currently we are running 3.0.2, a whole major version behind the most recent 4.0.2.

Might be worth considering doing #335 however, that'll take a bunch of time. This is a short term fix and it should fix a ton of bugs.

[2018-06-06 08:44] hyperknot opened #338 "Search unreliable, causes 100% CPU and memory 1 GB+"
I have 5000 nodes in a tree. Only 2 level, with about 5 "directories" and the rest being "files".

I'm using search by index, using such a simple function:

[code]

React Sortable Tree is very unreliable on such data.

1. It works 80% of the time, but it doesn't work on 20% of the time.
2. By force-swapping the searchFocusOffset to null and 0 again it works, especially if I put it in a setTimeout

[2018-06-06 09:28] #209 closed

[2018-06-06 09:28] #253 closed

[2018-06-06 09:28] #311 closed

[2018-06-06 09:28] #325 closed

[2018-06-06 09:29] wuweiweiwu commented on #209
rtl support is merged in #337 🙌 I will release a minor version soon

[2018-06-06 09:29] wuweiweiwu commented on #253
rtl support is merged in #337 🙌 I will release a minor version soon

[2018-06-06 09:38] wuweiweiwu commented on #338
hi @hyperknot Thanks for bringing this to my attention. react-sortable-tree currently uses DFS (w recursion) for traversing the tree which in some cases, can be extremely un-performant.

Its on my todo list to implement a better search. perhaps BFS.

[2018-06-06 09:40] wuweiweiwu opened #339 "Performant implementation of `find`"
related: #338

currently we use dfs and recursion to traverse the tree, which can be extremely un-performant.

explore other options such as bfs with a queue.

[2018-06-06 11:01] adarsh-farmguide opened #341 "changeNodeAtPath not triggering rowHeight function"
# Reporting a Bug?
Yes

Reproduced here: https://codesandbox.io/s/woj548n0rl

# Requesting a Feature?
Not Sure

* What's your use case?
I need to dynamically add text that needs to be completely(whole length) visible which changes the height of a node. But the changeNodeAtPath is not triggering my custom rowHeight function when I do that.

How could I explicitly call rowHeight recalculation or if

[2018-06-08 07:26] wuweiweiwu opened #344 "Just have the rollup build"
Upon further analysis. I don't think its worth for us to support all (es2015, commonjs, umd). Its enough that we just have the rollup build.

This will simplify things and our build is smaller already.

revert part of #327

Will experiment with rollup cjs, es builds as well.

[2018-06-08 09:33] wuweiweiwu commented on #324
oh I see.I think we would need to add a new attribute (ie `canExpand`) that decides if a node can be expanded or not. and that attribute will be check during the drag phase

[2018-06-08 13:34] #330 closed

[2018-06-08 17:51] luisandia opened #345 "Error in production enviroment"
I use Sortable-tree in my project, works fine in development enviroment, but after running `npm run build` I get the following error in the browser console:

`main.js:910 Uncaught TypeError: n is not a function
    at Object.<anonymous> (main.js:910)
    at t (main.js:28)
    at Object.<anonymous> (main.js:1062)
    at t (main.js:28)
    at Object.<anonymous> (main.js:1029)
    at t (main.js:28)

[2018-06-08 18:50] JeremyAntonoff opened #346 "Is creating a child from an another field possible?"
Essentially I need to create a field that has children as well.

![react-tree](https://user-images.githubusercontent.com/17059852/41175381-e2fd996a-6b2a-11e8-86ec-0621150a0283.jpg)

Ultimately this will be a drop down where a user can select many options and it gets rendered as a child.

Any ideas on how to make this possible? One foreseeable problem would be additional children would have to alig

[2018-06-08 21:18] wuweiweiwu commented on #345
can you post your webpack configs?

[2018-06-09 03:00] luisandia commented on #345
**My webpack.config**

`const webpack = require('webpack');
const path = require('path');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const CopyWebpackPlugin = require('copy-webpack-plugin');

const extractCSS = new ExtractTextPlugin('[name].fonts.css');
const extractSCSS = new ExtractTextPlugin('[name].styles.css');

[2018-06-09 07:06] NickEmpetvee opened #347 "Adding a node or deleting a node"
How do you dynamically insert or remove a branch from the tree? I see many ways to update props of a particular tree branch but haven't caught on yet about how to create or delete a branch.

For example suppose the initial tree looks like:

A
|----B
|----C

How could I insert a branch between B and C based on a user event so it re-renders as

A
|----B
|----B.Inserted.Branch
|----C

??

[2018-06-11 15:24] lifejuggler opened #348 "Allow users to add a placeholder text to render"
# New feature

Currently, the user can either totally override the placeholderRenderer-default or uses theme or css className to modify the styles but we should also allow user the option to add text to the placeholder as well instead of an empty box

[2018-06-11 17:59] wuweiweiwu commented on #267
@zourbuth I was thinking of adding a callback, however, in hindsight, it probably is not a good long term fix. I will be updating our react-dnd dependency soon #87 (it is a major change) So I will revisit this issue once that is done.

Thanks!

[2018-06-11 18:48] wuweiweiwu commented on #345
@luisandia Cool, Thanks!

[2018-06-12 09:45] #282 closed

[2018-06-12 10:21] medslt opened #350 "Module not found: Error: Can't resolve 'redux/lib/createStore' in '/dnd-core/lib'"
I'm using "redux": "4.0.0" and the following error occurred when I implemented yarn start to build.

Here is the error message.
`ERROR in ./node_modules/dnd-core/lib/DragDropManager.js
Module not found: Error: Can't resolve 'redux/lib/createStore' in '/Users/moh/sites/wynd/back_office/node_modules/dnd-core/lib'
 @ ./node_modules/dnd-core/lib/DragDropManager.js 9:19-51
 @ ./node_modules/dnd-core/li

[2018-06-12 10:45] #344 closed

[2018-06-12 11:10] wuweiweiwu opened #352 "Fix storybook (for new website)"
- [x] get static build of storybook to work.
- [ ] update links in stories (use git extractor)

[2018-06-12 11:42] S-Eddine commented on #350
i have the same problem ! :(

[2018-06-12 14:01] lifejuggler commented on #346
@JeremyAntonoff, this might be possible with some heavy modding and implement it as a new theme plugin, I think this is possible by redrawing on additions and removal with animations to mitigate flickering between redraw... but this is just thinking from top of my head as a pseudo code

[2018-06-12 14:36] medslt commented on #350
@lifejuggler I tried it I have the same problem :(

[2018-06-13 14:33] lifejuggler commented on #350
@I will take a look and see if I can make a pr

[2018-06-13 14:35] lifejuggler opened #353 "suggestion: create a new project for the next major version release"
Hey @wuweiweiwu,

I know that you might be very busy, but I would like to help with this project to its next step, whenever I have the time. if you can create a project and add all the requirements maybe I can start picking up some and create a PR for them for you to use to bundle into the next release

[2018-06-13 23:06] lifejuggler commented on #350
@medslt @S-Eddine I have tried to replicate the issue with no success so please provide more information to the steps/ configurations that both of you have tried to get this error...

[2018-06-13 23:08] lifejuggler commented on #324
@wuweiweiwu , @hyperknot I will post a pr for this

[2018-06-14 04:09] wuweiweiwu commented on #353
@lifejuggler that'll be awesome. I'll work on some sort of roadmap. In the mean time, I can add you to this organization.

[2018-06-14 04:11] wuweiweiwu commented on #353
I have added you as a collaborator on this project!

[2018-06-14 05:49] #270 closed

[2018-06-14 06:06] #326 closed

[2018-06-14 06:38] #319 closed

[2018-06-14 07:51] minhmsdn opened #357 "Click name node to collapse/expand"
I have a issue about node of react-sortable-tree.
I need a function (or same way) so that user can click name to collapse/expand instead of click toggle on Tree-view
Could you help to give me some advice to fix this?
Thank you so much.

Here is my code:
`<SortableTree
            isVirtualized={false}
            canDrag={this.state.treeOptions.canDrag}
            treeData={this.state.treeData}

[2018-06-14 08:58] medslt commented on #350
@lifejuggler to replicate the issue you have to use redux 4 in your project, there is a conflict with react-dnd "2.6.0" used by react-sortable-tree, I think  to resolve the issue we have to upgrade react-dnd to the last version

[2018-06-14 09:39] developerpoidi commented on #264
Are there any updates regarding this issue?
I am calculating the height based on the text so I can have multiple lines, but with this bug my list is not really usable.

[2018-06-14 09:47] S-Eddine commented on #350
@medslt Awesome!! your solution works great!
@lifejuggler that would be nice if we can update the version of react dnd

[2018-06-14 12:16] lifejuggler commented on #357
@minhmsdn, you can either override the node renderer by providing your own version of it to 'nodeContentRenderer' or create your own theme to have this feature... I can try to add it to my own theme if you like mine but its your choice

[2018-06-14 12:18] lifejuggler commented on #350
@medslt, cool I will upgrade the version of the react-dnd after I make sure that there are no breaking changes in the latest

[2018-06-14 12:36] #350 closed

[2018-06-14 12:42] medslt commented on #350
thanks @lifejuggler

[2018-06-14 12:54] medslt commented on #336
+ 1

[2018-06-14 16:13] developerpoidi commented on #264
There also seams to be a problem with the height recalculation if you move an item between a parent-child relation (where the blue arrow is shown and moves the item below it).

The problem occurs also after using the change proposed in https://github.com/frontend-collective/react-sortable-tree/pull/269 (which at least fixes the calculation after the move)

[2018-06-14 19:36] brenopolanski commented on #307
I fixed it. I just added:

[code]

In the `Add Child` button.

[2018-06-14 21:55] lifejuggler commented on #308
@anushkadoyan, cool example, maybe we can create a storybook example so other people don't have the same pains... I will try to update it sometime this week...

[2018-06-15 06:57] wuweiweiwu commented on #308
I also forgot about this helpful utility function `getDepth` https://github.com/frontend-collective/react-sortable-tree/blob/master/src/utils/tree-data-utils.js#L1038

[2018-06-15 06:57] #353 closed

[2018-06-16 11:53] mats68 opened #358 "Error after updating in Typescript"
After updating to the new version 2.2.0 in a Typescript, I get error:

`" ...node_modules/react-dnd/lib/DragDropContext.d.ts..."
Module ..node_modules/@types/react/index"' has no default export.
`

Steps to reproduce:
Create app with

1. create-react-app my-app --scripts-version=react-scripts-ts
2. yarn add react-sortable-tree

[2018-06-18 04:55] wuweiweiwu commented on #341
interesting. The rowHeight callback should be called every time prop changes. might be because rowHeight is passed to react-virtualized.

[2018-06-18 09:04] pabloDon opened #359 "Apply rule to allow certain children in nodes"
I want to allow certain nodes to have specific children based on a previous rule implemented.

For example:

- Mammals
    * Cow
- Birds
    * Eagle

A cow can't be child of _Birds_ :smile: . So, can I implement a rule to disable this? How can I do it?

[2018-06-19 13:09] lifejuggler commented on #323
@hyperknot, can you readd your sandbox? it doesn't seem to work anymore

[2018-06-19 13:13] hyperknot commented on #323
Ah, somehow it disappeared. Basically it's just an `<input type="file">` element on the same page as a react-sortable-tree.

[2018-06-19 20:03] wuweiweiwu commented on #323
its probably the html dnd backend. Have you tried exporting the tree without the dnd context?

[2018-06-20 07:20] owcc commented on #338
@wuweiweiwu
add *just-show-matched-node* feature for new(maybe?) search, In my case, there is more than 10000 leaf in the tree, and search is common function, for now, I just re-render the tree with new matched data.

[2018-06-20 14:37] Rockson opened #360 "Remove DropTarget to nodes in runtime"
Is there a way to specify which nodes have the DropTarget?
I'd like to remove the dropTarget to all the nodes that doesn't meet a condition.
For example, while dragging a node I want to remove the DropTarget to all the nodes that doesn't share the same parent

[code]
This way the lib should remove the DropTarget to all the nodes that doesn't meet the condition

[2018-06-20 14:56] rizkyramadhan commented on #358
this is a common mistakes, in first line at node_modules/react-dnd/lib/DragDropContext.d.ts:

``` import React from 'react';```

it should be

```import * as React from 'react';```

I think updating react-dnd dependencies should solve it.

[2018-06-20 20:56] davidgolden commented on #309
Can you provide an example for what that style prop might look like?

[2018-06-21 06:43] owcc commented on #245
@szilderus yeah, **hide-no-matching-node** not **close-no-matching-node**, this is really useful for tree search with large nodes, I have more than 8000 nodes in my project

[2018-06-25 08:47] Seiichi-Yahiro opened #361 "Keep depth of nodes while dragging"
Is there a way to keep nodes at a certain depth while dragging?

We defined 3 types of nodes in our application, and every node always needs to be on the same depth.
We basically have sth like this:
- Containers (depth 0)
- Videos (depth 1)
- Extra items related to the Video (depth 2)

What I basically need is a way to predefine the depth of any node in the treeData.
Currently we use the canDrop f

[2018-06-25 19:37] BilgeHanSolo-Mavenomics opened #362 "Bug: Typescript error, property shouldCopyOnOutsideDrop does not exists"
# Repro
[CodeSandbox example](https://codesandbox.io/s/l4067j8pr9)

```@types/react-sortable-tree``` probably needs an update

[2018-06-27 03:08] #307 closed

[2018-06-27 18:53] marisev commented on #336
any plans on this? :)

[2018-06-28 07:06] slemvs opened #363 "Cannot read property 'getMonitor' of undefined"
Hi,
Could you help me with this problem, please?
I try to use SortableTree with touch support. I copied code sample (touch-support) from storybook app and when i try to use this:
[code]
instead of this
[code]
I got error:
![image](https://user-images.githubusercontent.com/17675314/42018314-eaed0078-7adb-11e8-9474-50e26371db28.png)

I have prepared a code sample to reproduce the error
https://codes

[2018-06-28 07:57] wuweiweiwu commented on #338
@owcc there is a prop for that! `onlyExpandSearchedNodes`

[2018-06-28 07:59] wuweiweiwu commented on #336
@marisev been a bit busy with work. I'll hopefully be able to take a look this weekend :)

[2018-06-28 08:43] slemvs commented on #363
Sample from your sandbox https://codesandbox.io/s/1r3vz5mmyj from this [page](https://frontend-collective.github.io/react-sortable-tree/?selectedKind=Advanced&selectedStory=Touch%20support%20%28Experimental%29&full=0&addons=0&stories=1&panelRight=0) is not working too. Error the same.

[2018-06-28 08:55] slemvs commented on #363
It seems that the problem is related to the version of react-dnd library. If you use the version 3.0.2 it works!
But if you switch to the latest 5.0.1 version you receive an error as above.

[2018-06-28 09:07] wuweiweiwu commented on #363
so many react dnd bugs #336 .... :(

[2018-06-28 09:09] wuweiweiwu commented on #309
@davidgolden the style prop would look something like this `{ backgroundColor: 'black' }`. The standard react css in js -> https://reactjs.org/docs/faq-styling.html

Hope that helps!

[2018-07-01 21:52] lifejuggler commented on #363
@slemvs , @wuweiweiwu  I attempted an upgrade but the react-dnd is now using the latest this.context which breaks many parts in the code... will try again when I have a solid block of time to resolve this or @wuweiweiwu, I saw your comments that you will take a look?

[2018-07-02 07:02] wuweiweiwu commented on #363
@lifejuggler Thanks for taking a look! I was planning on it. But havent had time recently.

[2018-07-02 07:22] wuweiweiwu opened #364 "Website v3"
I recently wrote the website for `react-split-pane` http://react-split-pane.surge.sh/

And I kinda like that layout better.

Also I should move the storybook directory to a subdir of the website.

[2018-07-03 04:05] cormacrelf commented on #332
This is an awful bug in Firefox that is not fixed yet. https://github.com/react-dnd/react-dnd/issues/1000

You could try https://github.com/zyzo/react-dnd-mouse-backend -- it would skip over all the browser-specific HTML5 bugs that just keep popping up.

[2018-07-03 04:12] cormacrelf commented on #338
You could also build a Lunr.js index and { work backwards from the results | cache paths in the index }.

[2018-07-03 13:08] Odinsama opened #365 "Question: how do you mock this thing?"
I tried writing a test using the most basic <SortableTree> I could, the example in the docs with a chicken and egg. The test itself looks exactly like this:

[code]

And I get a TypeError nested deeply in the library which looks like this:

 TypeError: this.container.addEventListener is not a function

      at ScrollingComponent.componentDidMount (node_modules/react-dnd-
        scrollzone/lib/in

[2018-07-04 06:37] Odinsama commented on #365
I ended up using Enzyme shallow rendering to test all the methods in my class, and then just ignore mocking react-sortable-tree itself. This is really all I care about testing since that is the code I'm changing and working with. Perhaps trying to mock a complex third party library component was misguided to begin with? Cheers

[2018-07-04 14:44] nyn0x commented on #363
@wuweiweiwu Hello, I try with **SortableTreeWithoutDndContext** like this with DragDropContext (without it, it give me an error 'Cannot read property Monitor of undefined' ) :
[https://github.com/frontend-collective/react-sortable-tree/blob/97610d1705451e260e4d1f2d587c169709f5a5de/examples/storybooks/external-node.js](https://github.com/frontend-collective/react-sortable-tree/blob/97610d1705451e26

[2018-07-04 16:11] nyn0x commented on #323
@wuweiweiwu Hello, I try with **SortableTreeWithoutDndContext** like this with DragDropContext (without it, it give me an error 'Cannot read property Monitor of undefined' ) :
[https://github.com/frontend-collective/react-sortable-tree/blob/97610d1705451e260e4d1f2d587c169709f5a5de/examples/storybooks/external-node.js](https://github.com/frontend-collective/react-sortable-tree/blob/97610d1705451e26

[2018-07-05 08:12] jkeruzec commented on #174
Have a look at the example, they are using a calc properties for the height :
`css height: calc(100% -/+ px) `

[2018-07-05 12:54] votiv commented on #363
Hi! Is there a workaround to this problem until it get's solved?

[2018-07-05 16:05] slemvs commented on #363
@votiv Yes, just switch the version of react-dnd from latest to 3.0.2. In my case it helped.

[2018-07-06 06:14] NickEmpetvee opened #366 "Can you make <buttons> inside of generateNodeProps display conditionally?"
Hi guys. Suppose we have code like the below. If we always want button 1 to display but only want button 2 to display if a certain condition is fulfilled (e.g. if title = 'show two buttons'), how would we accomplish that?

[2018-07-06 12:41] jkeruzec opened #367 "Warning: Each child in an array or iterator should have a unique "key" prop."
When I add this custom getNodeKey to my SortableTree, I have a warning from React.

[code]

`js index.js:2178 Warning: Each child in an array or iterator should have a unique "key" prop.`

How can make it disapear ?
Maybe I can use key in a string format ?

Thanks,

[2018-07-06 13:05] jkeruzec commented on #367
Ok my bad, I have to specify an ID on my tree !

[2018-07-06 13:05] #367 closed

[2018-07-06 21:18] nreis11 commented on #366
You can use the Inline If with Logical && Operator for this.
`  <SortableTree
          treeData={this.state.treeData}
          onChange={treeData => this.setState({ treeData })}
          generateNodeProps={rowInfo => ({
            buttons: [
              <button
                onClick={() => doSomething()}

                1
            </button>,
              someCondition && <button

[2018-07-07 05:21] NickEmpetvee commented on #366
@nreis11
Thank you. What would be the conditional syntax? I tried the below and it just inserted the string "treeIndex > 0" before the button.

...
[code]
...

[2018-07-07 08:36] gduquesnay commented on #93
@fritz-c Storybook link you provided above is broken now.  Could you update it?

[2018-07-07 11:13] fritz-c commented on #93
@gduquesnay Done. Thanks for the heads up.

[2018-07-08 07:15] wuweiweiwu commented on #332
Yeah... I wonder if its worth just writing everything manually. I'll talk to the author of `react-sortable-hoc`

I'll definitely check the mouse backend. Thanks @cormacrelf

[2018-07-08 20:15] NickEmpetvee commented on #366
From what I can tell, the issue is that after `buttons: [`, it is not accepting the suggested syntax. Any help is appreciated.

[2018-07-08 21:02] NickEmpetvee commented on #366
This is resolved.  The below code works:

                treeIndex > 0 &&
                <button...>...</button>
Thanks @nreis11 .

[2018-07-08 21:02] #366 closed

[2018-07-10 18:31] stephencarr commented on #49
Late to the game, but @borisyordanov `import { getNodeAtPath } from 'react-sortable-tree'`

[2018-07-11 05:10] NickEmpetvee opened #368 "Multiple <input> tags stacked vertically in a single node will sometimes overlap"
Following the advice in Issue 165, I've set up the browser nodes so that when a new one is generated, it displays a text field but when a user presses enter in that field it changes to a read-only display of the node's `title` value. That's working fine.

The complication is that I have a need to have two text fields stacked vertically and both editable until the user clicks into them and presses

[2018-07-11 07:06] wuweiweiwu commented on #365
hi @Odinsama, apologies for the late reply. But I'm glad you found a suitable solution.

[2018-07-12 12:16] Martinnord commented on #174
@barrymichaeldoyle Can you please show how you did it with flexbox? Would be super appricated.

[2018-07-13 05:01] NickEmpetvee commented on #368
Resolved with styling:

[code]

[2018-07-13 05:01] #368 closed

[2018-07-13 05:46] NickEmpetvee commented on #165
@ChathurangiShyalika how did you resolve the input disappearing?

[2018-07-14 04:11] NickEmpetvee commented on #182
@edargham How did you resolve the last issue?

[2018-07-17 05:38] wuweiweiwu opened #369 "Lazy loading is broken"
https://github.com/frontend-collective/react-sortable-tree/commit/c844c04b6248103ca42ae80e417679741c5607cd#r29717312

[2018-07-17 15:42] jkeruzec opened #370 "rowDirection warning"
Since last update of react-sortable-tree v2.2.0, I have this new warning :

`Warning: React does not recognize the `rowDirection` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `rowdirection` instead. If you accidentally passed it from a parent component, remove it from the DOM element.`

I don't pass any rowDirection parameter

[2018-07-18 09:07] votiv commented on #259
Hi! Is there a workaround for this issue?

[2018-07-21 09:27] ShiroYacha opened #372 "Auto horizontal scroll to target node"
Hi,
I would like to know if it's possible to scroll the tree horizontally to fit the target node into the screen. This can be triggered by:
- a search where there is only one fit => scroll vertically & horizontally to make it totally visible
- select a node that is partially visible => scroll horizontally to make it totally visible

Thanks!

[2018-07-21 18:24] dienluong opened #373 "Question: Why does whole tree re-renders on node modify?"
Hi,

First of all, thanks for the awesome component.  I've looked at various React trees and this one is the best for my needs.

My tree nodes have modifiable title very similar to the one in the storybook.  Using React Dev Tools, I see that the whole tree seems to be re-rendered on each keystroke editing the title (i.e. each onChange of the text Input element).  Is expected behavior?  What is the

[2018-07-24 07:40] nurul3101 opened #374 "Adding Dynamic icons in each node"
I am trying to add icons in front of each node and based on whether node has children i want to change the icon. Also based on the expansion state i want to display different icons.
In which method should i write my custom logic to achieve the goal?
I am currently using generateNodeProps method but i am not sure if it is possible to achieve it by adding props.

[2018-07-26 22:52] keymandll commented on #370
I have the same problem. Would be nice to get this resolved.

[2018-07-30 03:50] wuweiweiwu commented on #374
Hi @nurul3101 I think a way you can do this is by using the [util functions](https://github.com/frontend-collective/react-sortable-tree#themes) to test each node to see if it has children etc.. And using `onChange` events to update the icons.

hope that helps!

[2018-07-30 07:47] Martinnord commented on #280
Why did you close?

[2018-07-31 18:50] nurul3101 commented on #374
Hey @wuweiweiwu Thank you. I was able to add icons dynamically based on checking whether node has children.

[2018-08-02 09:02] rmaravanthe commented on #74
How about rightClick guys. Please drop your answer

[2018-08-02 09:11] eMarek opened #376 "Prop searchMethod triggers onChange when loaded"
I found something funky, not sure if it is by design or is it bug. I have two similar sandboxes here:
https://codesandbox.io/s/0p5oppl88n
https://codesandbox.io/s/9o526528oy
Only difference is that the first one has search method while in the second example search method is commented out. If you open console, you will see that search method somehow causes onChange to happen (twice!) when sortable

[2018-08-02 12:22] katmai7 opened #377 "Highlighting for matched elements is broken"
Hi, I found that highlighting for matched elements is broken when you expand/collapse the tree.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3172108/43574751-a905f0a6-964d-11e8-9d68-609b2f510411.gif)

[2018-08-04 20:15] Serexx opened #378 "Storybook - Drag From External Source - Error"
Happened to run into this, seems like maybe an issue using DnD but I'm just getting familiar with both & couldn't see anything obvious.

Cannot read property 'getMonitor' of undefined
[https://codesandbox.io/s/yjypjp8vj](https://codesandbox.io/s/yjypjp8vj)

[2018-08-04 21:49] Serexx commented on #378
Sorry , just found #363 - closing this

[2018-08-04 21:49] #378 closed

[2018-08-06 12:12] kimwykoff opened #379 "Question: How to place tooltip on node?"
I have a tree where the node title shows up as red when there has been an error validating the node. I would like to put a tooltip on it showing the error message, but I don't know how to add this. I'm adding the necessary styling for errored nodes in the generateNodeProps property, which also provides the buttons for the nodes. Is there something else I could add to this property to get the toolt

[2018-08-07 07:18] vidhyeshpatil opened #380 "Help Needed"
# Requesting a Feature?

How to toggle the title name to another of any parent or child ?

[2018-08-07 11:08] cesartl commented on #341
I've got the same issue. I've added a button to expand a node. This button sets a field `expanded` in the node data and the `rowHeight` looks like that:
[code]
However when clicking the button the `rowHeight` function is not triggered. If set `expanded: true` to new nodes added to the tree, they appear with the expanded height. So it seems `rowHeight` is only called at creation

[2018-08-07 12:12] harishmegharaj opened #381 "Child Nodes should get updated separately"
I have a scenario:
  1. OnClick of parent1 the child should get added, which i have implemented.
  2. Then Onclick of child1,  I need to open a form which will have input fields and on update/modifying input fields node should get updated accordingly.
  3. Now, if I'm trying to create an another child2 under same parent1, the updated or modified input fields of child1 appears as it is on child2 no

[2018-08-07 13:54] cesartl commented on #341
I've also noticed that adding a new node in the tree will force `rowHeight` to be evaluated and the previously expanded node will resize to the correct height.

[2018-08-07 22:38] acemac opened #382 "shouldCopyOnOutsideDrop assumes the drop is on another tree"
[CodeSandbox Bug](https://codesandbox.io/s/549w616qlk)

`shouldCopyOnOutsideDrop` is great functionality for using the tree nodes to drop on other things. The functionality seems to assume the drop is on another React-Sortable-Tree

In my situation want to be able to drag nodes over a form area, which will then display an edit form.

In react-sortable-tree.js `endDrag`, line 436 the logic for this

[2018-08-08 13:46] galileomd commented on #165
@NickEmpetvee you need to add the utils file somewhere in your project and add this to imports:
[code]

[2018-08-09 13:38] kaitmore commented on #370
I am also seeing this console error. Here is the full stack trace:

![image](https://user-images.githubusercontent.com/22768918/43902397-fea19ab4-9bb7-11e8-9a90-9d01fc135824.png)

[2018-08-10 11:40] Morgorth opened #383 "Can't make sense of Path"
Hi,

I can't make sense of the path, I wondering if there is an issue.
I have a simple tree, no dragging, no change in it:
- 2 nodes at the root level ((2) [{…}, {…}])
- 2 nodes as a child of the first root node, 1 child for the second root node
The tree displays correctly and it's great (good job on the library).

The path of first child of the first root node is 0:1 and second child 0:2. That co

[2018-08-11 07:28] NickEmpetvee opened #384 "Passing treeData as a prop from a parent"
In React, generally, data gets sent from a parent component to a child component which accesses it from `this.props`. How would you apply that with `<SortableTree>`?

For example, in App.js I'm currently pulling data from a REST endpoint and sending it as a prop to a child component: `<SortableTreeInstance treeDataFromDB={this.state.treeData}/>`.

In `<SortableTreeInstance>` i render it this way w

[2018-08-14 09:57] Morgorth commented on #250
#olddigger: when setting the className like this, it's applied on the topmost element of the node and it seems we can't set background color because of this (I set the font-weight to bold it works). How can I change the background color of the whole node ?

[2018-08-14 12:16] jkeruzec commented on #370
Any update on this ?

[2018-08-15 04:57] huangbinjie opened #385 "restrict canDrop by sibling node"
I'm using this library for my work.

I have a non-draggable menu that should be pushed to the bottom of the treeData and i want to prevent drop if sibling node is the non-draggable menu.

How to do that? Thanks!

[2018-08-15 08:48] NickEmpetvee opened #386 "getFlatDataFromTree import - conflicts from multiple updates"
Hi guys.

This is a great utility your team has tacked onto the project. Thank you.

I'm reading and writing the tree from/to a relational database. I've got a requirement to allow more than one administrator to save the modified tree to the database. (I've also got users who won't be able to modify the tree.)

For the administrators, I'm wondering if there's a way to cleanly allow more than one a

[2018-08-15 22:17] jritts-g commented on #370
I'm also seeing this error

[2018-08-16 03:20] chengchencc opened #387 "loadLazyChildren error"
# Reporting a Bug?

i try to use children lazy load refer to [Fix loadLazyChildren with children as function](https://github.com/frontend-collective/react-sortable-tree/pull/227) but not work.

i read the source code,find this change in react-sortable-tree.js(row number 150):
`  static getDerivedStateFromProps(nextProps, prevState) {
    const { instanceProps } = prevState;
    const newState = {}

[2018-08-16 04:07] NickEmpetvee opened #388 "Only selecting change nodes with `getFlatDataFromTree`"
Hi there. If there's a complex browser that you want to save back to the database, is there an easy/convenient way to only CRUD: update changed nodes, delete removed nodes, and create a new node? Right now `getFlatDataFromTree` seems to strictly render JSON of the full browser tree.

[2018-08-16 09:10] NickEmpetvee commented on #383
Hi,

I believe that the path is built off the inherent tree node key values. Each node inherently has one immutable unique key and numbering starts with 0. The Path simply reflects the node hierarchy in terms of these unique keys. Therefore if node 5 is nested under node 1, the Path will be 1:5. If node 5 moves under node 2, its Path changes to 2:5. If node five moves to the top level its Path is

[2018-08-16 10:35] Morgorth commented on #383
oh, ok. I was thinking the path represented the position of the node in the array and that I could use it to resync with my database. too bad

[2018-08-16 19:01] NickEmpetvee commented on #383
You may be able to with some creativity. I am trying the same thing right now,and will keep you posted.

[2018-08-18 12:57] #385 closed

[2018-08-18 22:37] NickEmpetvee commented on #287
@iamanidea I'm working on something similar. How did you extract the treeIndex value for a Node's current position? `getFlatDataFromTree` doesn't provide that, at least not in the storybook example.

[2018-08-19 03:12] NickEmpetvee commented on #287
@iamanidea Also, when do you update the database? Are you updating it every time a tree node gets moved, and then pulling a fresh set of data back down from the tree?

[2018-08-20 15:51] Vazerthon opened #389 "Option for `addNodeUnderParent` to add children at the beginning of the child list"
# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
Allow adding new children with `addNodeUnderParent` to add children at the beginning of the list rather than the end.

* What's your use case? (Tell me about your application and what problem you're trying to solve.)

Current use case is to display and

[2018-08-21 05:31] NickEmpetvee opened #390 "getTreeFromFlatData doesn't work in render."
Following the [advice](https://www.reddit.com/r/reactjs/comments/93mk1j/beginners_thread_easy_question_august_2018/e42qpf6) of a Reddit user, I tried to move `getTreeFromFlatData` into the render() method. However now it only returns the first row of InitialData in `treeData`. Any idea why? Is the recommendation compatible with how react-sortable-tree is supposed to work, as onChange is expecting

[2018-08-22 16:39] NickEmpetvee commented on #390
@wuweiweiwu, if you have a moment.

[2018-08-23 13:13] huiman commented on #277
downgrade to lower version will help.

[2018-08-23 23:29] cpilson commented on #379
Caveat: I use bootstrap and this is within a `buttons` array:

[2018-08-24 14:33] galileomd commented on #370
yep.. ditto

[2018-08-25 18:59] mjyoung commented on #345
Any update to this? I'm experiencing the same issue:

Webpack config:

`webpack.config.prod.js`
[code]

[2018-08-27 12:28] huiman commented on #262
@charue808  could you please share your final code please, I also struggle in this issue.

Thank

[2018-08-27 23:46] charue808 commented on #262
@huiman Hey, So my preliminary code that to get buttons to render on the nodes and be able to highlight it is in the comment
[code]

Since the return is the nodeProps, you can place any buttons within that object. That's probably a really hack way to do it thought... OR you could do

` <SortableTree
              treeData={this.state.treeData}
              onChange={treeData => this.setState({ tr

[2018-08-28 02:36] crapthings opened #392 "Provide sibling node on rowInfo?"
# Requesting a Feature

like prev node and next  node?

[2018-08-28 06:03] huiman commented on #365
INSERT
import "react-sortable-tree/style.css";

[2018-08-28 06:10] huiman opened #393 "Question: I got errors while trying to change title after move node."
onMoveNode={args => {
const { prevPath, nextPath,  node, nextParentNode,  nextTreeIndex } = args;

  this.setState(state => ({
                treeData: changeNodeAtPath({
                  treeData: state.treeData,
                  nextPath,
                  getNodeKey,
                  newNode: { ...nextParentNode, name: "moved!" }
                })
              }));

//ERROR showed//
index

[2018-08-28 06:55] huiman opened #394 "two items in storybook codesanbox.io ERROR"
Drag from external source
Drag out to remove

[2018-08-29 09:04] LucitheR commented on #240
@fritz-c  When you play with said Example (https://github.com/frontend-collective/react-sortable-tree/blob/97610d1705451e260e4d1f2d587c169709f5a5de/examples/storybooks/external-node.js) in CodeSandbox you get the same Error.

[2018-08-30 07:32] wuweiweiwu commented on #362
@acemac awesome! Thanks a bunch!

[2018-09-05 13:40] medslt commented on #370
I have the same problem

[2018-09-05 13:43] saulable commented on #28
I removed these and it works just like the example.
 .rst__highlightTopLeftCorner, .rst__highlightBottomLeftCorner {
  display: none;
}

.rst__lineBlock:not(.rst__lineHalfVerticalTop):not(.rst__lineFullVertical) {
  display: none;
}

.rst__lineBlock.rst__lineHalfVerticalTop.rst__lineHalfHorizontalRight,
.rst__lineBlock.rst__lineHalfHorizontalRight.rst__lineFullVertical {
  display: none;
}

[2018-09-06 06:51] #389 closed

[2018-09-06 07:09] rmaravanthe commented on #74
How can I dynamically expand the tree view data or how can I make dynamic click if data is there. Can somebody please suggest.

[2018-09-06 17:49] mjyoung commented on #244
@mhiggs Were you able to get word wrapping working for the node titles? Can you explain how you implemented the `.rstcustom__node` snippet above?

[2018-09-07 10:35] adriantombu opened #395 "Wrapper around children"
Hi folks !

Just a quick question: is it possible to add a div wrapper around the children of a node ? As of now I see that all the nodes are on the same level in the dom and have juste a left padding to offset them.

I'm already working on a custom theme, but I don't quite see how I could achieve this :)

Thanks for any help, have a great day !

[2018-09-11 02:47] TimNZ commented on #324
@lifejuggler still planning to do a PR?

[2018-09-11 08:16] xgzl87 opened #396 "isVirtualized=false,Dragging and updating nodes is inefficient and pages are stuck"
when isVirtualized=false, Dragging and updating nodes is inefficient and pages are stuck

[2018-09-11 13:47] sufius opened #397 "Tree-to-Tree dragging, but with multiple dndTyes"
Is it somehow possible to pass an array of strings to the dndType attribute. Reason: In need tree "A" to be connected with tree "B" as well as with tree "C", but tree "B" should not be connected with tree "C". If i got it correct react-dnd provides a possibility to pass not just a string as dndType...

thank you.

![rst-issue](https://user-images.githubusercontent.com/1421570/45364148-ae346480-b5d

[2018-09-11 15:09] justduy opened #398 "Is it possible to not open the children, when dragging over a parent?"
It can be a bit disorienting when dragging over multiple parents with a lot of children, and they all open to show their children. Is there a way to not open them, and rather highlight the parent node if we want to drop it in as a child ?

[2018-09-12 12:07] justduy commented on #135
@dharanidhanapalan did you figure it out ?

[2018-09-13 00:43] lifejuggler commented on #324
sorry I just moved to a new job and been super busy... you can do it

[2018-09-14 01:46] gragland commented on #398
I'd also like a way to prevent auto-expanding. I've seen a good number of users get confused by this. If there was a way to turn it off then devs could manually add more advanced logic using the drag events, such as have a timeout so it pops open if hovered for more than a second.

[2018-09-17 17:28] psycura opened #399 "Drag&Drop doesn`t work with NodeContentRenderer"
# Reporting a Bug?

if i use `NodeContentRenderer` and as component use your `node-renderer-default.js`
On dragStart i receive an error in console:

However without `NodeContentRenderer` - everything work fine.
What can be a problem?

[2018-09-17 18:15] psycura commented on #399
Ok, i found out that this problem is happen only when i pass `NodeContentRenderer` as props,
I just tried to import use your `src` folder and imported `ReactSortableTree` from there instead use of installed from `npm`.
And if i import my `NodeContentRenderer` component directly to the `react-sortable-tree.js` and use it instead of ` import NodeRendererDefault from './node-renderer-default'`    eve

[2018-09-17 18:39] psycura commented on #399
Oh, i found what was a problem.
I passed `NodeContentRenderer` as `()=>< NodeContentRenderer/>` instead `{NodeContentRenderer}`
I think you should add some example with custom `NodeContentRenderer` to the examples.
Sorry, again

[2018-09-17 18:39] #399 closed

[2018-09-19 10:12] shinework opened #400 "New release with addNodeUnderParent option"
Hey! Thanks for this great component 💜

Is it possible to ship a new release with the `addNodeUnderParent` new option (https://github.com/frontend-collective/react-sortable-tree/commit/ff980d8127e5839cd99425d385faf95289b5f83e) ? :shipit:

[2018-09-20 19:19] johnslay commented on #278
I don't think this is reproducible until we fix lazy loading because it seems to be broken again.

I was able to get around it for now by updating gDSFP

[code]

I can submit a PR if we want to fix that issue first before we try to tackle DND lazy loading. Let me know.

[2018-09-24 11:16] justduy opened #401 "How do I hide nodes for a given criteria ?"
A functionality that would resemble a filter function, such that nodes not matching a certain criteria would not render, but still be in the treeData.

[2018-09-24 12:15] sureshapn commented on #228
@wuweiweiwu  thankyou,

I want tree order with previous sibling and next sibling.

[2018-09-25 00:48] gragland commented on #401
I'm doing something like that and just have a master data object from which I generate treeData based on different conditions. It does complicate things quite a bit though because that means in my tree callbacks I need to take the path it gives me and convert it to the correct path to the node within my master data object.. but it works!

[2018-09-25 08:16] justduy commented on #401
@gragland yeah I have opted for the same solution, but its a bit unnecessarily complex to do it. Would be better to not just render the nodes. I tried using the `addNodeUnderParent()`, but it doesn't work properly for some reason. I might just have to do the same thing as you then.

[2018-09-25 09:24] NickEmpetvee opened #403 "Path info missing in onMoveNode (similar to issue #43)"
@fritz-c when I use the code you recommend in issue 43 and drag a node to a new parent, I get the below warning. Additionally, `node.myUniqueId` resolves to `undefined` and newParentID is empty. Does anything stand out as to what I'm missing? End goal is to know the new parent node ID.

**MY CODE**
[code]

**WARNING:**
[code]

[2018-09-25 10:02] justduy commented on #401
@gragland what does your `onChange()` callback do then ? Because the only information regarding moved nodes are within `oMoveNode()`. To show that tree has changed you would have to do in `onChange()`. In the `onMoveNode()` it would be fairly straightforward to do what you did. But it would make a laggy effect where the node would move and then jump back and then to its new location after `onMoveN

[2018-09-26 19:19] ShayGus opened #404 "Working with CSS modules"
I'm trying to use the component in my app which is ejected and uses CSS modules.
I can't figure out how to still be able to use this component.

[2018-09-27 00:02] gragland commented on #401
@justduy I currently don't use `onChange()` at all and use `onMoveNode()` to handle moving of nodes. I'm not seeing any kind of laggy effect. From what I can tell there's no reason there should be a lag since it just calls `this.props.onMoveNode()` right after `this.props.onChange()`: https://github.com/frontend-collective/react-sortable-tree/blob/master/src/react-sortable-tree.js#L271

[2018-09-27 10:37] Blacknosaur opened #405 "Request: CSS classes for each level of depth"
# Requesting a Feature?

It would be nice to have the possibility of exposing a CSS class for styling each depth level. I tried with a little hack on node_modules adding `depth__${path.length}` hardcoded in the class list of the component.

I tried to add it like a prop (something like <SortableTree showDepth={true} />) but I haven't any success with this approach.

![example](https://user-images.

[2018-09-27 23:17] nreis11 commented on #405
Is this what you're looking for? https://codesandbox.io/s/6x76m9037k

You can determine styling based on each node's path length. In this simple example, I'm only changing color, but you can hold style objects in an array if you need something more complex.

[2018-09-28 11:33] Blacknosaur commented on #405
Yeah, this is what I was looking for!
I finally did it in oher way, modifying the node CSS to be transparent and putting custom components inside the title, different per node depth.

[2018-09-29 13:57] YahngSungho opened #406 "Can not rowHeight match just the height of the node's content?"
I wanted to dynamically adjust the height of the row to be equal to the height of the content of the node in the tree.

I looked at the code in the library and found that it was not possible with the original package. But I had not given up. And I had planned to modify the package personally. The original plan was to pass `ref` through the components, get the height from the `div` of the contents

[2018-09-30 04:40] YahngSungho commented on #406
I tried to edit [this file](https://github.com/frontend-collective/react-sortable-tree/blob/c83c2aae14d7d2e6c884da314b34a068bd4d9109/src/react-sortable-tree.js).

[2018-09-30 17:40] gragland commented on #406
Can you somehow have a node detect when its height changes, pass up the new height that it reads from itself in a callback function, then update that node object to contain its new height? And then in`rowHeight` read it from the node object? No idea if that's doable, just an idea.

[2018-10-01 08:32] YahngSungho commented on #406
I am thinking of a way of assigning a function instead of createRef() in ref as a way of solving this problem.
It's better to work on the parent component of SortableTree instead of modifying the package by adding a height value to node objects. Thanks for the hint, @gragland

[2018-10-01 10:48] huiman opened #407 "How could I use both mouse and touch?"
how could I write a single code for both mouse drag drop and touch.

Thank you

[2018-10-01 18:32] marisev commented on #400
Could you please also update a typing for addNodeUnderParent to include this new option?

[2018-10-03 13:12] huiman commented on #407
I got it.

const App = DragDropContext(
  isTouchDevice ? TouchBackend({ enableMouseEvents: true }) : HTML5Backend
)(UnwrappedApp);
export default App;

[2018-10-03 13:12] #407 closed

[2018-10-03 18:41] IvanGrodno opened #408 "Remove only parent node."
Can I remove a node by saving its children?

[2018-10-04 17:49] TheoneLucas opened #409 "Auto height without losing style"
Hi,

I want to make SortableTree height fit its content, without the need to explicity set the height and without the scroll, making it auto. The problem is, the only way according to the documentation to accomplish this is by setting the `isVirtualized` prop, but by doing so I lost all the nice styling that happens when dragging a node. So, how can i make it full height without losing the styling

[2018-10-04 20:04] assafushy commented on #374
hi,

could you please give a snippet of how you changed the icon ?

[2018-10-08 16:43] grydstedt commented on #398
Anyone have a work around for this?

[2018-10-08 22:54] HgAlexx commented on #387
This is related to #369.
I've locally patched this doing a simple backup of _instanceProps.treeData_ before it is overwritten by _nextProps.treeData_ and using the backup for the _if (!isEqual(instanceProps.treeData, nextProps.treeData)) {_ test.
This fix is working fine for me, children are correctly lazyloaded on expanded again.

[code]

[2018-10-09 10:54] eljenso commented on #122
What is the status of this issue?

My use case is that I do not want to allow more than one root node.
I got the validation inside `onMoveNode` (with `if (!nextParentNode) {}`) but can't work out how to reset `treeData` to the state before the move.
Tried using `removeNodeAtPath` and `addNodeUnderParent` to move the node back into the original place. But after this, the UI looks broken:
![screensh

[2018-10-09 12:08] grydstedt commented on #173
@buzztone how did you end up dealing with this? any temporary work around?

[2018-10-11 07:59] subeax commented on #245
Hi Guys! Do you have any plans/updates on this feature? It's pretty useful.

[2018-10-12 07:44] #406 closed

[2018-10-12 07:58] YahngSungho opened #410 "Attempting to dynamically assigning rowHeight, I got stuck"
Long story short, I could do this:

1. After the SortableTree Component is rendered for the first time, measure the heights of the contents of nodes
2. Add a height property to the node objects in this.state.treeData array.
3. The rowHeight function takes the node as an argument and returns node.height

The problem here, however, is that the rowHeight function is called only during the first rende

[2018-10-12 17:02] mhxahji commented on #361
Hi, I did a solution for keep nodes in the same level while dragging.
On the declaration of the component you can write:
[code]
I hope it helps.

[2018-10-12 21:17] HgAlexx commented on #377
Hello,
I got that fixed by providing a getNodeKey function which return unique value for all nodes.

[2018-10-17 09:56] YahngSungho opened #411 "A strange part of the code"
![react-sortable-tree_react-sortable-tree js at master frontend-collective_react-sortable-tree - chrome 2018-10-16 23 40 36](https://user-images.githubusercontent.com/29212791/47078430-44ddec00-d23e-11e8-9e9a-b5931df691f3.png)

Now I am trying to understand this part of the code. What does this mean? If it does a shallow copy, it also gets the equality as the result of a deep comparison. isn't it?

[2018-10-17 23:16] NickEmpetvee commented on #410
I'm not sure if this is going to help you or not but in generateNodeProps, I'm using the ternary operator to conditionally set styles. It might be something you want to explore. Example...

[code]

[2018-10-17 23:20] NickEmpetvee commented on #409
I've used generateNodeProps to dynamically set styles. It may be worth exploring. Example:

[code]

[2018-10-20 18:41] florianbepunkt opened #412 "Determine changes"
# Requesting a Feature?

onChange returns the complete tree data. Is there a way to only get the actual changed bits of data? like a delta or diff? My use case is that I have a lot of items (sometimes only a few, sometime a few hundred), where each item is a different doc in our database. hence, I would like to only update thos docs, that were actually changed instead of all docs.

[2018-10-22 02:38] #387 closed, assigned to nobody

[2018-10-22 15:04] tretjakan opened #413 "Change width"
How can i change the width of list elements? I want to do this fixed width.
But now i have the next situation (screenshot) - http://prntscr.com/l91x4p

[2018-10-23 17:48] nreis11 commented on #413
Is basically your intention to have everything right-justified, so the plus symbols line up?
If that's the case, I've created an example. You can use the depth to create the proper widths for each node.

https://codesandbox.io/s/x39xqjx3xz

[2018-10-23 21:36] mi1ami1a commented on #162
@xgzl87 how you solved this problem?

[2018-10-23 21:45] mi1ami1a commented on #399
@psycura hey bro, could you share piece of your code please? i cant  understand how to use NodeContentRenderer

[2018-10-23 23:23] redguardtoo opened #414 "replace `react-virtualized` with `react-tiny-virtual-list`?"
`react-virtualized` is too heavy weight (file size is more than 300Kb) while `react-tiny-virtual-list` is only 3Kb

[2018-10-26 14:47] tretjakan commented on #370
+ the same problem

[2018-10-30 10:49] illuminist opened #415 "Loophole that get grandchildren into a node that doesn't accept grandchildren"
## Reproduction:
https://frontend-collective.github.io/react-sortable-tree/?selectedKind=Basics&selectedStory=Prevent%20drop&full=0&addons=0&stories=1&panelRight=0

## Reproduction step:
https://gfycat.com/FlamboyantMemorableConch

## Expected behavior
A node that doens't accept grandchildren should prevent a node with children dropping on it.

[2018-10-31 11:23] Jantwel commented on #399
@psycura @mi1ami1a I think the problem is in using functional component as `nodeContentRenderer`. If you convert it to class everything is ok.

[2018-11-01 15:29] slemvs commented on #363
@NoureldeanSaed There is a working example https://codesandbox.io/s/98kj095wwy. Please, check all dependencies versions in it.

[2018-11-05 08:23] Zyanling opened #416 "how can i get the every node's siblingNode. i have no idea."
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2018-11-06 14:44] AmbushIV commented on #182
I would like to know that too!

[2018-11-06 14:53] AmbushIV commented on #304
I have similar issues, I'll make a new issue to present mine.

[2018-11-06 14:58] AmbushIV opened #417 "Dragging elements renders the tree thousands of times"
I have a tree with 10 elements at most, all elegantly coming from an API and rendered well in the frontend.

No matter what I deactivate I noticed my drag&drop function is slow, like really slow, sometimes freezing up the browser because of the multiple calls to the rendering function.

For example, a simple drag can make between 3000 to 60000 updates (I discovered this by placing a console.log in

[2018-11-10 02:37] edencorbin opened #418 "Rapid dragging will then lag browsers and take many seconds to update"
I'm not sure where this may or may not be possible to adjust, and I have seen the same issue in other tree libraries (such as antd). If you hold and rapidly drag a node around it slows to a crawl, seems to be making hundreds of queued calculations if it can go in different locations, now long since irrelevant. Any way to poll less often and/or discard older calculations of placement then the curre

[2018-11-10 12:21] pkhodaveissi opened #419 "addNode Callback"
Hello

is there anyway I can get the path and other details of latest added node?
If there's a callback like `onMoveNode`, that would be great
tnx

[2018-11-10 23:35] nolandg commented on #412
Use the `onMoveNode` event. It gives you prevPath, nextPath, and currently moved node (and more). If your structure is a bunch of nested parent-children then moving a node should only modify the previous parent and all its immediate children and the new parent and all its immediate children. Use this event to update the prevParent by removing one of its children and updating all the indexes of the

[2018-11-11 05:07] pkhodaveissi commented on #419
well, since there was no answer to this, I solved it as below,

i got the `treeIndex` from returned object value of addNodeUnderParent function call and then add it to the path of target node, result as you see is the path to new born element

[2018-11-11 05:07] #419 closed

[2018-11-15 14:29] Radu3000 opened #420 "npm start command does not exist"
I am new to react and this project.  Just tried to follow instructions.
1. Downloaded
2. Ran npm install successfully
3. Tried to run the following command and got this error:
C:\Projects\react-sortable-tree-master>npm start
npm ERR! missing script: start

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Radu\AppData\Roaming\npm-cache\_logs\2018-11-15T14_19_21_533Z-debug.

[2018-11-18 21:53] wuweiweiwu commented on #420
you can cd into the website `cd website`

[2018-11-18 21:56] wuweiweiwu opened #422 "Possibly rebuild on top of @atlaskit tree?"
`react-beautiful-dnd` v10 release also released a developer preview of @atlaskit/tree https://atlaskit.atlassian.com/packages/core/tree

I will have to experiment with it more. But it seems like it has the potential to become the base tree component if not a full replacement of this library.

[2018-11-19 06:53] M4Lien opened #423 "How to set background color of each node in react-sortable-tree package"
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2018-11-19 06:56] M4Lien commented on #423
Hi, how are you?
I have faced a problem for setting background of each node.
I have implemented another method for setting background, But I can't set it.
Can you help me?
thanks

[2018-11-19 09:45] niukui opened #424 "why i can't find toggleExpandedForAll in my installed"
i use it like this,
import { toggleExpandedForAll } from 'react-sortable-tree';
But i can't find  toggleExpandedForAll  in my installed "tree-data-utils.d.ts"
could any one tell me where goes wrong?

[2018-11-19 10:48] #424 closed

[2018-11-19 13:34] kserjey commented on #122
I think that more reliable way to add this feature is reducer property like [downshift](https://github.com/paypal/downshift#statereducer) has!

[2018-11-19 20:07] wuweiweiwu opened #425 "Move to react-window"
React window https://github.com/bvaughn/react-window is a rewrite of react-virtualized that exposes a simpler api and is also way faster.

Until i get some time to redesign react-virtualize i believe its probably best for use to move to react-window as it is currently being actively maintained by @bvaugh

[2018-11-21 01:45] mi1ami1a commented on #399
nodeContentRenderer={NodeRendererDefault} is work

[2018-11-21 03:06] nmartinezb3 commented on #60
@fritz-c  could you please provide a new link with the example of dragging an element in from another list?

Thanks

[2018-11-22 14:47] pmeteye commented on #370
Try this :

const { rowdirection, ...rest } = this.props
delete rest['rowdirection']

[2018-11-27 08:08] wuweiweiwu commented on #422
the problem is that react-beautiful-dnd does not support virtualization right now. But possibly in the future.

[2018-11-28 17:09] kbulygin commented on #370
See #213. I solved #370 in exactly the same way as #213: by reading the current version of https://github.com/frontend-collective/react-sortable-tree/blob/master/src/tree-node.js and updating my code, namely:

[code]

[2018-11-28 17:11] #213 closed

[2018-11-29 21:03] jrtilson commented on #417
I'm having pretty much the exact same issue. Have you found a way around this?

[2018-11-30 00:56] #336 closed

[2018-11-30 00:56] #363 closed

[2018-11-30 00:57] wuweiweiwu commented on #335
closed in #421

[2018-11-30 00:58] #335 closed

[2018-12-04 00:48] redguardtoo commented on #414
I checked the code. It's just one line `import { AutoSizer, List } from 'react-virtualized';` in `react-sortable-tree`.

I also read code of `AutoSizer` from `react-virtualized`. It's just simple function to get parent node size. I suggest writing a built in function to replace it. In the future, we could remove this function. It's not necessary to add `AutoSizer`, it's kind of over-engineering.

[2018-12-04 06:16] dolezel commented on #414
Send PR, I will check. Thanks

[2018-12-05 12:06] AmbushIV commented on #417
Hey @jrtilson , no, I have not found a solution for this.

[2018-12-05 12:41] #420 closed

[2018-12-05 12:42] #412 closed

[2018-12-05 12:44] dolezel commented on #400
Should be done

[2018-12-05 12:44] #400 closed

[2018-12-05 23:13] Fi1osof opened #428 "export NodeRendererDefault"
# Requesting a Feature?

Good day!
Thanks for awesome library!

Question: can i extends NodeRendererDefault? Unfortunatly i can not find export {NodeRendererDefault} in dist.

[2018-12-07 00:01] af commented on #414
How does `react-tiny-virtual-list` compare with `react-window`? See #425

[2018-12-07 00:03] wuweiweiwu commented on #414
react window is @bvaughn's rewrite of react virtualized. it exposes a slightly different api and is a bit more efficient

[2018-12-07 00:03] wuweiweiwu commented on #414
as for react-tiny-virtual-list, ill have to take some time to dig into it

[2018-12-07 07:34] wuweiweiwu commented on #414
haha I think it should work! We can pull in the `react-virtualized-autosizer` too

[2018-12-10 08:55] wuweiweiwu commented on #336
released in 2.4.0!!

[2018-12-10 09:23] wuweiweiwu opened #429 "Fix distribution"
# Reporting a Bug?

The recent changes to our dependencies #426 by @dolezel throws an error when installing.

[code]

perhaps we should bundle our patched version of react-dnd-scrollzone

this was found after i released 2.4.0. For now i have set the latest tag back to 2.3.0, our previous release until this is resolved. I have also deprecated 2.4.0

[2018-12-10 09:30] dolezel commented on #429
Sorry, my bad. That `patch-package` in postinstall should be needed only for dev.
https://docs.npmjs.com/misc/scripts seems prepare is right place to put the script in. Will make PR.

[2018-12-10 09:33] wuweiweiwu commented on #429
No problem. I'm trying to test some stuff out locally with the newly built one (with the updated dependencies), but the tree isn't rendering in the demo (uses the `dist/index.esm.js`) but the storybook works (uses `src/index.js`).

I might've screwed up the rollup build. Do you mind explaining what `exports: named` does? as we both export a default and a named export

[2018-12-10 09:39] dolezel commented on #429
That is something you added to that file ;-)
https://github.com/frontend-collective/react-sortable-tree/commit/2c018328e218627483f5e4f59ebd56cd321325d6#diff-ff6e5f22a9c7e66987b19c0199636480R14
I updated rollup config only with name of file in external library https://github.com/frontend-collective/react-sortable-tree/commit/9343a55db0aaa1a60c2b07f2d7ee6467866dc404#diff-ff6e5f22a9c7e66987b19c019963

[2018-12-10 09:40] wuweiweiwu commented on #429
oh I see. I'll put it back in

[2018-12-10 09:42] wuweiweiwu commented on #429
Thanks for the help @dolezel :)

[2018-12-10 09:46] wuweiweiwu commented on #429
released in 2.5.0.

also curious, if `react-dnd-scrollzone` is external in rollup, but we depend on a patched version, shouldn't we remove it from external and package it with the distribution? @dolezel

[2018-12-10 10:07] wuweiweiwu opened #431 "New site"
# Requesting a Feature?

Make it look prettier. Also with storybook hosted under the same URL. I don't want them to be hosted separately.

CRA v2 is also awesome

[2018-12-10 10:08] dolezel commented on #429
True, it also need to be removed from external, 2.5.0 is not working now after fresh install 🤦‍♂️

[2018-12-10 15:26] lgromanowski opened #433 "How to dynamically change color of lines joining child nodes?"
Hi,
how can I dynamically change the color of line joining the nodes based on some property?
For example:
[code]
for given tree I would like to dynamically change color of lines for childs from A-3 up to A and only them (they have property "change_color" set to true), how can I do that?

[2018-12-10 16:32] rchancey opened #434 "TypeError: this.clearMonitorSubscription is not a function. (In 'this.clearMonitorSubscription()', 'this.clearMonitorSubscription' is undefined)"
This issue is still biting and it has been over a year since someone posted :).

It seems the 'current' solution is really depending on react-dnd version 3.0.2.

Is there a new update for this that does not require me to move from the latest, which is like on version 7, down to version 3?

[2018-12-10 16:44] rchancey commented on #434
I created the most bare bones class I could  and keep getting odd errors.

Any ideas.. I really want to use this package.. it looks like the best thing available for this type of capability.

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in

[2018-12-10 19:16] wuweiweiwu commented on #429
uh oh :(. I've been testing using the example directory.

[2018-12-10 19:17] wuweiweiwu commented on #429
@dolezel what happens after a fresh install right now?

[2018-12-10 19:23] repl-albert-chu commented on #434
I just encountered the same thing as you on the latest release (2.5.0) so I rolled back to 2.3.0 because of this https://github.com/frontend-collective/react-sortable-tree/issues/429 and now its working again. Looks like an issue being sorted out at the moment.

[2018-12-10 19:23] wuweiweiwu commented on #429
I think we should roll back to using regular react-dnd-scrollzone or a github forked version under this organization.

getting this error in scrollzone

[code]

[2018-12-10 19:24] wuweiweiwu commented on #434
yep! we're working it out!!

[2018-12-10 19:31] rchancey commented on #434
Great thank you!! looks like a very awesome package. I was able to get it working with 2.3 as suggest so will use that. Looking forward to the update!

[2018-12-10 20:38] dolezel commented on #429
[code]
It is using unpatched version of  `react-dnd-scrollzone`
#432 is fixing this. When I used build artefacts after that fix. It was working.

I thought that using that patching library would be easiest solution, but it came with more quirks than it solved. I agree that maintaining own fork of `react-dnd-scrollzone` under frontend-collective will be best 👍

[2018-12-10 21:42] rchancey opened #435 "example code for : react-sortable-tree.surge.sh"
Not really an issue but any one know where I can find the source for this demo: react-sortable-tree.surge.sh.

It has some features I want to leverage that are pretty neat.

[2018-12-11 03:12] rchancey opened #436 "How to add a sibling node 'immediately' after the current node?"
this has  been a great package.. but I am trying to do something a little different and that is add a sibling node. I am successfully able to do that just fine by just altering the parentKey path my reducing it by 2.. but now I need to add the new node immediately after the  node I am on.

I looked for a 'path' variable that could be based into the addNodeUnderParent but I was unable to find how t

[2018-12-11 07:36] wuweiweiwu commented on #429
@dolezel do you mind PRing your patch to https://github.com/frontend-collective/react-dnd-scrollzone

and then i will fix the version and everything should be fixed!

[2018-12-11 09:53] wuweiweiwu commented on #429
fixed in 2.6.0!!

[2018-12-11 09:53] #429 closed

[2018-12-11 09:54] wuweiweiwu commented on #434
Fixed in 2.6.0!

[2018-12-11 09:54] #434 closed

[2018-12-11 15:38] cesartl opened #438 "v2.5.0 breaks rendering on Docker"
This is quite an odd issue which I don't understand completely.

We were using `^2.2.0` as a version so we automatically migrated to `2.5.0` and `2.6.0`. Everything was fine when using webpack dev plugin on the localhost.

However, after we pushed the code and built the app through our pipeline the trees completely disappeared from the app. No error in the console, just empty `div`.  Puzzling.

Th

[2018-12-11 16:54] pawurb commented on #149
@fritz-c is your example still available somewhere ? Link does not seem to work anymore

[2018-12-11 17:03] dolezel commented on #149
https://frontend-collective.github.io/react-sortable-tree/?selectedKind=Basics&selectedStory=treeData%20import%2Fexport&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Fnotes%2Fpanel

[2018-12-11 20:30] rchancey opened #439 "Is there a way to globally adjust tree based on the node height?"
I am using the title and sub title and being old I need larger fonts... and sometimes that pushes the title outside the bounds of the node. I can change the height of the node but then it throws off all the  connectors (they no longer stop at the node border edge).

Is there a way to set global hight and have the tree adapt?

[2018-12-12 19:14] rchancey opened #440 "How to remove a node during map call back"
I am trying to use the map function to 'remove' a node on a match condition.. but sort of as expected it is modifying the map as it is being iterated and getting item not found.

Other than generating a list of all the paths and then deleting them after the map is done.. is there a special way to remove a node from the treeMap during a map ?

I tried to mark this as a question but not sure how.

[2018-12-13 00:45] wuweiweiwu commented on #438
hi 2.6.0 should be fixed!

[2018-12-13 00:45] wuweiweiwu commented on #438
see #429

[2018-12-15 21:48] NickEmpetvee opened #441 "Windows 8/10 touchscreen laptop"
Has anyone tried this with a Windows touchscreen? It won't work for me.

I noticed that react-beautiful-dnd does work with touchscreen and I think the underlying libaries are similar.

Does anyone knows what part of react-sortable-tree I could work on to make it work on such a device.

[2018-12-18 10:45] lgromanowski commented on #433
OK, I found ```.rst__highlight``` group of classes in ```tree-node.css``` is there a possibility to "force" react-sortable-tree (ie. in generateNodeProps) to also use this class for styling node connectors (how can I do that?)?

[2018-12-18 11:20] norambuywana commented on #345
Is there any update on this issue?

[2018-12-21 06:48] huiman opened #443 "tree not render after upgrade from 2.3 to 2.6"
# Reporting a Bug?
My project run well on version 2.3 but after upgrade to 2.6 the tree do not render!

[2018-12-21 07:12] #443 closed

[2018-12-21 09:44] sunndeath opened #444 "How to use nodeContentRenderer correctly?"
Tell me, please, how to use nodeContentRenderer correctly.
I want to wrap the NodeRendererDefault in ContextMenuTrigger.

My example:
[code]

The result is nothing rendered =(

I have already read these threads, but I did not find the answer to my question there:
https://github.com/frontend-collective/react-sortable-tree/issues/4
https://github.com/frontend-collective/react-sortable-tree/issues/13

[2018-12-25 21:05] wuweiweiwu commented on #431
dup of #364

[2018-12-25 21:05] #431 closed

[2018-12-26 00:35] #364 closed

[2018-12-27 08:45] rohmanhm commented on #345
I fixed my issue by disabling code split.

[2018-12-28 10:18] vipinpatil commented on #240
@CASandmann  @fritz-c i have resolved this issue by replacing this line
"react-sortable-tree": "1.5.0" in package.json file and install npm module again.

:) its resolved issues

[2018-12-28 22:14] rchancey opened #445 "how to remove the rowDirection warning?"
This is still an issue and no idea how to remove it.. I was not able to follow the solution from early July. Any ideas?

Warning: React does not recognize the `rowDirection` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `rowdirection` instead. If you accidentally passed it from a parent component, remove it from the DOM elemen

[2019-01-02 14:53] YahngSungho opened #446 "Why clone NodeContent inside a TreeNode?"
https://github.com/frontend-collective/react-sortable-tree/blob/master/src/tree-node.js#L154

Why do you use cloneElement() in this part? It seems to be bad for performance.

Should not you just use the NodeRenderer directly? For example

[code]

and

[code]

[2019-01-04 16:29] johnslay opened #447 "Support for comparator on isDescendant"
So I have come across a situation where I need to check if a folder is a descendant of another folder, but the object has changed shape but the ID is the same. Currently, isDescendant is comparing the references of the two objects. I would like to add a feature that would support the ability for the user to define their own comparing method (is comparator the right terminology here?).

[code]

If

[2019-01-04 17:16] johnslay commented on #447
I just realized the way I am parsing my child is different than what this method assumes and so that implementation wouldn't actually work for me. I'll still leave this in case anyone has other suggestions.

Here is what my data looks like, it is flat:
[code]

[2019-01-05 13:39] codingkapoor commented on #78
Woah!

[2019-01-05 13:56] codingkapoor commented on #78
The solution by @BadLeo is good enough if you also want the drag and drop feature.
In my case I didn't wanted the drag and drop functionality so came up with this solution instead!

### Tree Data
[code]
### SortableTree
[code]

### CSS
[code]

![selection_001](https://user-images.githubusercontent.com/4599890/50725183-c9465980-111f-11e9-8ea9-181e768eb995.jpg)

[2019-01-06 12:58] efstathiosntonas opened #448 "[HELP]"
How can i get the index inside every node children when dragging so i can set the weight of the category? Right now I'm able to change the parent and the path in the categories, but can't figure how to find the proper  weight according to the order that i set via dnd.

Example (inside brackets is the index)
[code]

Ho can i get the index (when dragging finishes) of `GrandChildren One` and `GrandCh

[2019-01-06 16:47] rchancey opened #449 "Can we get an example of using a custom css and updating a variety of properties of the tree?"
I have a custom css and using it to modify the node .. but is quite painful and I had to look at many 'issues' here to find how to do it.. as it has changed over time.

Would be nice to have a story that shows this:
1) customize node height and width, background etc
2) add and remove drag handle
3) Adjust padding between nodes and have the lines adjust accordingly
4) etc.

just some basic stuff..

[2019-01-06 17:13] rchancey commented on #78
can you share how you were able to override the row content background to get that background color?  I an not a css expert and you seem to have done it :) I can modify the borders and any child content.. but just not that content background.. here is what I mean:

<img width="329" alt="screen shot 2019-01-06 at 10 42 56 am" src="https://user-images.githubusercontent.com/29101431/50739321-2552c180

[2019-01-09 08:33] bclevering opened #450 "when setting isVirtualized=true the tree is not rendered"
When i try to render a virtualized list the list is not rendered and the console log is displaying the following info:

**this.clearMonitorSubscription is not a function**
ScrollingComponent.componentWillUnmount
**/frontend-collective-react-dnd-scrollzone/lib/index.js:356**

![image](https://user-images.githubusercontent.com/8439274/50886758-9a670680-13f1-11e9-9184-b1048e16b7ed.png)

when setting

[2019-01-09 11:49] ittechsathish opened #451 "Tree is not rendering when adding element in typescript."
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your use case? (Tell me about your application and what problem yo

[2019-01-09 15:11] ittechsathish commented on #451
We should use the below code to make it work. Please update documentation.

            this.setState(state => ({
              treeData: state.treeData.concat({
                title: `${getRandomName()} ${getRandomName()}sson`,
              }),
            }))

[2019-01-09 23:35] dcporter44 opened #452 "Add a delay after drop"
If I drop an element, I have to then re-sort the tree to reflect the new order. With large trees, this resorting can take a second or so. This means that after I drop an element, it returns to its original position, and then waits for my re-sorting to be done, and then it adjusts to its new position. This flicker of movement is very annoying.

It would be ideal if on drop, the item stayed in its d

[2019-01-10 14:36] ittechsathish opened #453 "Is it possible to display more than one line in title"
# Reporting a Bug?

Please include either a failing unit test or a simple reproduction. You can start by forking the [CodeSandbox example](https://codesandbox.io/s/wkxvy3z15w)

# Requesting a Feature?

I want to display more than one line title. Please help..

Provide as much information as possible about your requested feature. Here are a few questions you may consider answering:
* What's your us

[2019-01-17 10:54] dhaval-lila opened #454 "how can i make nodes editable?"
Hi , thanks for awesome package , I am currently working on project where node needs to editable by user and update that node in json and send it to back end . how can i achieve this using this module?

[2019-01-17 15:57] lkoczorowski commented on #454
Check the storybook for a working example: https://frontend-collective.github.io/react-sortable-tree/storybook/?selectedKind=Basics&selectedStory=Modify%20nodes&full=0&addons=0&stories=1&panelRight=0

[2019-01-19 08:36] wuweiweiwu commented on #352
done!

[2019-01-19 08:36] #352 closed

[2019-01-19 08:36] wuweiweiwu commented on #273
done!

[2019-01-19 08:36] #273 closed

[2019-01-19 08:42] wuweiweiwu commented on #414
closing in favor of #425

[2019-01-19 08:42] #414 closed

[2019-01-19 08:43] wuweiweiwu commented on #425
cc: @clauderic

[2019-01-20 11:17] shahlav commented on #149
Does this example still available at any place?
It returns 404 😕

[2019-01-24 02:38] gragland commented on #443
Did you figure out the cause? I'm running into the same issue.

[2019-01-24 09:41] wdayanand opened #455 "on drag How can I collapse all node at same level"
# Requesting a Feature?

I want to collapse all node on same level on drag start
example
---node1
       |--------node2
                    |-----**nodeX**
         |--------node3
                    |-----**nodeY**

in above example when i star drag node2 i want collapse **nodeX** and **nodeY**

[2019-01-28 11:09] sunndeath commented on #455
Guys, did anyone find a solution to this problem?

[2019-01-28 11:09] sunndeath commented on #398
Guys, did anyone find a solution to this problem?

[2019-01-28 15:35] ifeanyidavid opened #456 "Check the render method of `DragDropContext(SortableTreeWithoutDndContext)`"
# Reporting a Bug?

Troubleshooting have problem

# Requesting a Feature?
`import SortableTree from 'react-sortable-tree';`

![image](https://user-images.githubusercontent.com/19824880/51846837-ad973300-231a-11e9-8df6-22a3e2a4b6b5.png)

[2019-01-28 22:19] af commented on #425
@wuweiweiwu What are your thoughts on `react-sortable-tree` backwards compatibility with this change? Among the things I noticed when looking at migrating to `react-window`:

* RST uses `AutoSizer`, should we pull in the `react-virtualized-auto-sizer` to maintain this behavior (it's not included in react-window AFAIK)?
* The `reactVirtualizedListProps` prop could stick around but the name might be

[2019-01-29 06:56] sboga94 commented on #456
Same error for 2.6.0 version

[2019-01-29 16:38] matt-stj commented on #29
@zeljkohuber - how'd your implementation go with redux?  I'm working on something similar and would be curious to know how it all panned out.

[2019-01-29 18:50] wuweiweiwu commented on #425
yep thats the plan

in the release well keep the same prop name but we can alias reactWindowListProps to be the same thing and make a breaking change in a later release

[2019-02-01 16:47] mariovde commented on #196
@borisyordanov thanks for the code!
The behavior I get with your code, is that it doesn't copy the child nodes of the node from which you click "clone".
Is there a way you think, to include all the subnodes as well?

[2019-02-04 23:11] dcporter44 commented on #264
i hacked around this by forcing calling recomputeRowHeights on drag change. On drag I set an interval at 250ms to recompute row heights. When stopped dragging, I clear the interval. I originally didnt use an interval and called recomputeRowHeights within the `onChange` prop, but that caused me to call `recomputeRowHeights` hundreds of times (for every pixel i moved my cursor while dragging). Feel

[2019-02-05 08:52] borisyordanov commented on #196
@mariovde I haven't used this library in a while. I think there was a way to include all the subnodes, but not sure what it is any more

[2019-02-05 09:19] dcporter44 commented on #398
+1

[2019-02-05 09:33] dcporter44 commented on #398
My workaround is to set `children` to an empty array if `expanded` is set to false. I implemented by own close/expand button, so this works for me.

[2019-02-05 12:34] HgAlexx commented on #369
Any chance to get this fixed ?

[2019-02-05 14:09] sunndeath opened #457 "shouldCopyOnOutsideDrop gets undefined in callback function"
Hi, guys.
I use "react-dnd" for copy node from <SortableTree> to another component.
I want to use shouldCopyOnOutsideDrop to prevent removing draggable node, but I see receive undefined in callback:
`<SortableTree
            shouldCopyOnOutsideDrop={node => {
                console.log('!!shouldCopyOnOutsideDrop node', node);
                **// {node: undefined, prevTreeIndex: undefined, prevP

[2019-02-06 12:15] Raghu3130 opened #458 "changeNodeAtPath function does not work"
export function changeNodeAtPath({
  treeData,
  path,
  newNode,
  getNodeKey,
  ignoreCollapsed = true,
}) {
  const RESULT_MISS = 'RESULT_MISS';
  const traverse = ({
    isPseudoRoot = false,
    node,
    currentTreeIndex,
    pathIndex,
  }) => {
    if (
      !isPseudoRoot &&
      getNodeKey({ node, treeIndex: currentTreeIndex }) !== path[pathIndex]
    ) {
      return RESULT_MISS;
    }

[2019-02-06 12:15] Raghu3130 commented on #458
Please search for this line //["here add is isPseudoRoot"] and update isPseudoRoot value